---
import Layout from '../layouts/Layout.astro';
---

<Layout
  meta={{
    title: 'Straighforward Growth | Consulting expertise with a twist',
    description:
      'With a combined 30 years of experience in the tech industry, we help you grow your business with a twist.',
  }}
>
  <main id="main">
    <section class="region bg-gray-400">
      <div class="wrapper">
        <h2>Health &amp; wellness SaaS business partners</h2>
      </div>
    </section>
  </main>
</Layout>
