---
import Checkmark from '../components/Checkmark.astro';
import Layout from '../layouts/Layout.astro';
import kettlebells from '../assets/kettlebell-workout-group-training.jpg';
import { Picture } from 'astro:assets';
import Bullet from '../components/Bullet.astro';
import AccordionItem from '../components/AccordionItem.astro';

const addOns = [
  'Content implementation',
  'Concierge Google Search Console service',
  'Concierge Google Ads service',
  'Concierge Google Analyics service',
  'Concierge Google Business service',
  'Comprehensive AEC reporting',
  'Rank tracking for insights',
  'Page level optimizations',
  'Branded mini sites',
  'Web performance audits',
  'More ...',
];

const colorWheel = {
  blue: 'bg-[#449deb] text-blue-vivid-900',
  mint: 'bg-[#4ce1bc] text-mint-vivid-900',
  gold: 'bg-[#ebc644] text-gold-vivid-900',
  indigo: 'bg-[#869df9] text-indigo-vivid-900',
  orange: 'bg-[#e1744c] text-orange-vivid-900',
  yellow: 'bg-[#dee14c] text-gold-vivid-900',
};
---

<Layout
  meta={{
    title:
      'Content marketing expertise for growing health & wellness SaaS companies',
    description:
      'With a combined 30 years of experience in the tech industry, we help your health & wellness SaaS business grow organically.',
  }}
>
  <article id="main" class="relative z-10">
    <section class="region wrapper" id="DriveLeads">
      <div class="switcher relative">
        <svg
          viewBox="0 0 256 256"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          class="absolute -inset-s z-0 h-4xl text-[#bfff00] hidden md:block"
          aria-hidden="true"
        >
          <path
            d="M121.182,0.951l134.441,134.438c-0.304,5.555 -0.968,11.082 -1.996,16.551l-149,-148.996c5.469,-1.024 11,-1.692 16.555,-1.993Zm41.734,4.645c11.844,3.352 23.137,8.398 33.536,14.984l39.539,39.539c6.586,10.395 11.632,21.692 14.988,33.532l-88.063,-88.055Zm-86.586,6.141l168.504,168.5c-1.867,4.207 -3.957,8.304 -6.265,12.285l-174.52,-174.52c3.977,-2.308 8.078,-4.398 12.281,-6.265Zm-33.738,21.902l180.34,180.336c-2.934,3.246 -6.027,6.344 -9.277,9.273l-180.336,-180.332c2.929,-3.25 6.027,-6.343 9.273,-9.277Zm-24.91,30.73l174.52,174.516c-3.977,2.309 -8.079,4.399 -12.282,6.266l-168.504,-168.5c1.868,-4.203 3.957,-8.305 6.266,-12.282Zm-15.059,40.579l149,149c-5.468,1.023 -11,1.687 -16.554,1.988l-134.442,-134.434c0.305,-5.558 0.969,-11.086 1.996,-16.554Zm2.649,58.289l88.058,88.058c-11.839,-3.351 -23.132,-8.402 -33.531,-14.988l-0.008,-0l-39.535,-39.531c-6.586,-10.399 -11.633,-21.696 -14.988,-33.539l0.004,-0Z"
            fill="currentColor"></path>
        </svg>
        <div class="box">
          <Picture
            src={kettlebells}
            widths={[240, 540, 720, kettlebells.width]}
            sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${kettlebells.width}px`}
            alt="Focused workout group training with kettlebells"
            quality={80}
            formats={['avif', 'webp']}
            class="relative h-auto w-auto mx-auto object-contain rounded-2xl row-start-1 row-span-6 col-start-1 col-span-6 border-[#e1744c] border-8 z-10"
            pictureAttributes={{
              class:
                'relative h-auto w-auto mx-auto object-contain rounded-2xl row-start-1 row-span-6 col-start-1 col-span-6 z-10',
            }}
          />
        </div>
        <div class="box flow prose">
          <h2 class="lg:text-step-4 leading-flat">
            Drive more inbound leads from your ideal audience
          </h2>
          <p>
            Regularly posting content, but just not attracting your tribe? Or
            know that content marketing is crucial for your business, but don't
            have the time or resources to do it well? At Straightforward Growth
            we believe in the power of research-driven content, and have a
            proven, repeatable model that will get your website (and your
            contact details) seen and used.
          </p>
        </div>
      </div>
    </section>
    <section class="region space-y-l-xl" id="HowWeDoIt">
      <div class="box w-fit mx-auto text-center">
        <h2 class="relative lg:text-[4vw]">
          <svg
            viewBox="0 0 573 80"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            class="absolute -bottom-xs left-xs z-0 h-2xs text-[#bfff00]"
          >
            <path
              d="M8.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
              fill="currentColor"></path>
            <path
              d="M83.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
              fill="currentColor"></path>
            <path
              d="M158.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
              fill="currentColor"></path>
            <path
              d="M233.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
              fill="currentColor"></path>
            <path
              d="M308.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
              fill="currentColor"></path>
            <path
              d="M383.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
              fill="currentColor"></path>
            <path
              d="M458.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
              fill="currentColor"></path>
            <path
              d="M533.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
              fill="currentColor"></path>
          </svg>
           How do we do it?
        </h2>
      </div>
      <div class="wrapper space-y-s">
        <div class="switcher">
          <div class="bg-[#449deb] rounded-3xl text-blue-vivid-900 p-2xs">
            <div class="box flow prose bg-blue-100 rounded-2xl h-full">
              <h3 class="text-blue-vivid-900 text-step-3 text-center">
                We go deep on research
              </h3>
              <p>
                We'll uncover market-specific insights and high-value content
                assets that your target audience is actively searching for.
              </p>
            </div>
          </div>
          <div class="bg-[#4ce1bc] rounded-3xl text-mint-vivid-900 p-2xs">
            <div class="box flow prose bg-mint-100 rounded-2xl h-full">
              <h3 class="text-mint-vivid-900 text-step-3 text-center">
                We're highly organized
              </h3>
              <p>
                You'll get comprehensive plans that include optimized titles,
                high ranking examples, clear SEO strategies, and actionable
                guidance in crafting high-performing content specific to every
                piece.
              </p>
            </div>
          </div>
        </div>
        <div class="switcher">
          <div class="bg-[#ebc644] rounded-3xl text-gold-vivid-900 p-2xs">
            <div class="box flow prose bg-gold-100 rounded-2xl h-full">
              <h3 class="text-gold-vivid-900 text-step-3 text-center">
                We focus on conversions
              </h3>
              <p>
                We go beyond just attracting eyes; we design your content to
                convert visitors into leads and customers, backed by strategic
                wireframes and ongoing optimization based on user engagement.
              </p>
            </div>
          </div>
          <div class="bg-[#869df9] rounded-3xl text-indigo-vivid-900 p-2xs">
            <div class="box flow prose bg-indigo-100 rounded-2xl h-full">
              <h3 class="text-indigo-vivid-900 text-step-3 text-center">
                We tailor our support
              </h3>
              <p>
                With our continuous consulting, we track and refine your
                strategy to make sure you're receiving sustained traffic growth
                and consistent conversions.
              </p>
            </div>
          </div>
        </div>
        <div class="switcher">
          <div class="bg-[#e1744c] rounded-3xl text-orange-vivid-900 p-2xs">
            <div class="box flow prose bg-orange-100 rounded-2xl h-full">
              <h3 class="text-orange-vivid-900 text-step-3 text-center">
                We obsess over high-caliber writing
              </h3>
              <p>
                If you need us to execute the writing part of the plan we
                provide, we've got you covered. And in a world that's quickly
                filling with generic AI content, you'll find anything we produce
                stands out clearly from the noise.
              </p>
            </div>
          </div>
          <div class="bg-[#dee14c] rounded-3xl text-gold-vivid-900 p-2xs">
            <div class="box flow prose bg-gold-100 rounded-2xl h-full">
              <h3 class="text-gold-vivid-900 text-step-3 text-center">
                And we pour in our secret sauce
              </h3>
              <h4 class="text-gold-vivid-900 text-center mt-[0.5rem]">
                <em>The Content Machine</em>
              </h4>
              <p>
                We've designed and built a custom Notion template and framework
                that makes content research, creation, organization, scheduling,
                and collaboration straightforward and effective. It's a powerful
                content machine built for businesses who want to create better
                content, faster, and comes included in both of our plans (more
                in this <a href="#FAQs">in the FAQs below</a>).
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="region space-y-l-xl" id="OurPackages">
      <div class="wrapper">
        <div class="box w-fit mx-auto text-center">
          <h2 class="relative lg:text-[4vw]">
            <svg
              viewBox="0 0 573 80"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              class="absolute -bottom-xs left-xs z-0 h-2xs text-[#bfff00]"
            >
              <path
                d="M564.338,0.296c1.914,0.032 3.981,0.903 5.637,2.555c2.937,2.938 3.41,7.195 1.058,9.547l-27.628,27.629l27.628,27.633c2.352,2.347 1.879,6.605 -1.058,9.543c-2.942,2.941 -7.195,3.414 -9.547,1.062l-33.941,-33.941c-1.118,-1.117 -1.59,-2.664 -1.469,-4.297c-0.121,-1.629 0.351,-3.18 1.469,-4.297l33.941,-33.937c1.027,-1.032 2.422,-1.52 3.91,-1.497Z"
                fill="currentColor"></path>
              <path
                d="M489.338,0.296c1.914,0.032 3.981,0.903 5.637,2.555c2.937,2.938 3.41,7.195 1.058,9.547l-27.628,27.629l27.628,27.633c2.352,2.347 1.879,6.605 -1.058,9.543c-2.942,2.941 -7.195,3.414 -9.547,1.062l-33.941,-33.941c-1.118,-1.117 -1.59,-2.664 -1.469,-4.297c-0.121,-1.629 0.351,-3.18 1.469,-4.297l33.941,-33.937c1.027,-1.032 2.422,-1.52 3.91,-1.497Z"
                fill="currentColor"></path>
              <path
                d="M414.338,0.296c1.914,0.032 3.981,0.903 5.637,2.555c2.937,2.938 3.41,7.195 1.058,9.547l-27.628,27.629l27.628,27.633c2.352,2.347 1.879,6.605 -1.058,9.543c-2.942,2.941 -7.195,3.414 -9.547,1.062l-33.941,-33.941c-1.118,-1.117 -1.59,-2.664 -1.469,-4.297c-0.121,-1.629 0.351,-3.18 1.469,-4.297l33.941,-33.937c1.027,-1.032 2.422,-1.52 3.91,-1.497Z"
                fill="currentColor"></path>
              <path
                d="M339.338,0.296c1.914,0.032 3.981,0.903 5.637,2.555c2.937,2.938 3.41,7.195 1.058,9.547l-27.628,27.629l27.628,27.633c2.352,2.347 1.879,6.605 -1.058,9.543c-2.942,2.941 -7.195,3.414 -9.547,1.062l-33.941,-33.941c-1.118,-1.117 -1.59,-2.664 -1.469,-4.297c-0.121,-1.629 0.351,-3.18 1.469,-4.297l33.941,-33.937c1.027,-1.032 2.422,-1.52 3.91,-1.497Z"
                fill="currentColor"></path>
              <path
                d="M264.338,0.296c1.914,0.032 3.981,0.903 5.637,2.555c2.937,2.938 3.41,7.195 1.058,9.547l-27.628,27.629l27.628,27.633c2.352,2.347 1.879,6.605 -1.058,9.543c-2.942,2.941 -7.195,3.414 -9.547,1.062l-33.941,-33.941c-1.118,-1.117 -1.59,-2.664 -1.469,-4.297c-0.121,-1.629 0.351,-3.18 1.469,-4.297l33.941,-33.937c1.027,-1.032 2.422,-1.52 3.91,-1.497Z"
                fill="currentColor"></path>
              <path
                d="M189.338,0.296c1.914,0.032 3.981,0.903 5.637,2.555c2.937,2.938 3.41,7.195 1.058,9.547l-27.628,27.629l27.628,27.633c2.352,2.347 1.879,6.605 -1.058,9.543c-2.942,2.941 -7.195,3.414 -9.547,1.062l-33.941,-33.941c-1.118,-1.117 -1.59,-2.664 -1.469,-4.297c-0.121,-1.629 0.351,-3.18 1.469,-4.297l33.941,-33.937c1.027,-1.032 2.422,-1.52 3.91,-1.497Z"
                fill="currentColor"></path>
              <path
                d="M114.338,0.296c1.914,0.032 3.981,0.903 5.637,2.555c2.937,2.938 3.41,7.195 1.058,9.547l-27.628,27.629l27.628,27.633c2.352,2.347 1.879,6.605 -1.058,9.543c-2.942,2.941 -7.195,3.414 -9.547,1.062l-33.941,-33.941c-1.118,-1.117 -1.59,-2.664 -1.469,-4.297c-0.121,-1.629 0.351,-3.18 1.469,-4.297l33.941,-33.937c1.027,-1.032 2.422,-1.52 3.91,-1.497Z"
                fill="currentColor"></path>
              <path
                d="M39.338,0.296c1.914,0.032 3.981,0.903 5.637,2.555c2.937,2.938 3.41,7.195 1.058,9.547l-27.628,27.629l27.628,27.633c2.352,2.347 1.879,6.605 -1.058,9.543c-2.942,2.941 -7.195,3.414 -9.547,1.062l-33.941,-33.941c-1.118,-1.117 -1.59,-2.664 -1.469,-4.297c-0.121,-1.629 0.351,-3.18 1.469,-4.297l33.941,-33.937c1.027,-1.032 2.422,-1.52 3.91,-1.497Z"
                fill="currentColor"></path>
            </svg>
             Our packages
          </h2>
        </div>
      </div>
      <div class="wrapper flow">
        <div class="switcher">
          <div class="flow prose bg-[#449deb] p-2xs rounded-3xl">
            <div
              class="box flex flex-col justify-between flow prose bg-blue-100 rounded-2xl h-full text-blue-1000"
            >
              <h3
                class="text-blue-1000 text-step-4 md:text-step-5 leading-flat"
              >
                Join Straightforward Growth
              </h3>
              <p>
                When you first book a call with us we'll give you a free,
                no-obligation content asset to get you started. That way you get
                to make sure you connect with us as people and with the kind of
                work we produce.
              </p>
              <a
                href="https://tidycal.com/19qz8xm/straightfoward-growth"
                aria-label="Opens in a new tab"
                class="button bg-blue-1000 text-blue-200 hover:text-blue-100 hover:bg-blue-900 focus:outline-2 focus:outline-blue-900 focus:text-blue-100 focus:bg-blue-900 text-left flex space-x-s justify-center items-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  fill="currentColor"
                  ><path
                    d="M354.3 95.8c8.7-1.2 14.8-9.4 13.6-18.1l-1.2-8.5c-5-35.2-32.7-62.9-67.9-67.9L290.3 .2c-8.7-1.2-16.9 4.8-18.1 13.6s4.8 16.9 13.6 18.1l8.5 1.2c21.1 3 37.7 19.6 40.7 40.7l1.2 8.5c1.3 8.7 9.4 14.8 18.1 13.6zM13.7 368.2C5 369.4-1.1 377.5 .2 386.3l1.2 8.5c5 35.2 32.7 62.9 67.9 67.9l8.5 1.2c8.7 1.3 16.9-4.8 18.1-13.6s-4.8-16.9-13.6-18.1L73.8 431c-21.1-3-37.7-19.6-40.7-40.7l-1.2-8.5c-1.2-8.7-9.4-14.8-18.1-13.6zM150.4 62.4c-21-10.8-47.5-7.3-65.1 10.3s-21 44.1-10.3 65.1c-8.7 2.6-16.8 7.3-23.7 14.1c-21.9 21.9-21.9 57.3 0 79.2l9.5 9.5c-7.6 2.7-14.8 7.1-20.9 13.2c-21.8 21.8-21.9 57.2-.2 79.1L162.9 457.1c34.8 35.1 82.2 54.9 131.7 54.9C397 512 480 429 480 326.6l0-13.8 0 0 0-.7 0 0L480 152c0-30.9-25.1-56-56-56s-56 25.1-56 56l0 11L243.7 38.7c-21.9-21.9-57.3-21.9-79.2 0c-6.8 6.8-11.5 15-14.1 23.7zM108 95.3c9.4-9.4 24.6-9.4 33.9 0l8.8 8.8 .1 .1L288 241.4c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6L187.1 95.3l-.1-.1c-9.3-9.4-9.3-24.5 .1-33.9c9.4-9.4 24.6-9.4 33.9 0L372.7 212.9c4.6 4.6 11.5 5.9 17.4 3.5s9.9-8.3 9.9-14.8l0-49.6c0-13.3 10.7-24 24-24s24 10.7 24 24l0 160 0 0 0 .7 0 0 0 13.9C448 411.3 379.3 480 294.6 480c-40.9 0-80.1-16.4-109-45.4L62.6 310.3c-9.3-9.4-9.3-24.6 .1-34c9.4-9.4 24.7-9.4 34.1 0l36 36 .1 .1 42.1 42.1c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6l-42.2-42.2L105.6 240l-.1-.1L74 208.4c-9.4-9.4-9.4-24.6 0-33.9c9.3-9.3 24.4-9.4 33.8-.1L231.4 297.9c6.2 6.2 16.4 6.2 22.6 0s6.2-16.4 0-22.6l-46.5-46.5-.1-.1L108 129.2c-9.4-9.4-9.4-24.6 0-33.9z"
                  ></path></svg
                >
                <p>
                  Book a 30-minute call to see how Straightforward Growth can
                  help you.
                </p>
              </a>
            </div>
          </div>
          <div class="bg-[#4ce1bc] p-2xs rounded-3xl">
            <seven-minute-tabs>
              <ol
                role="tablist"
                class="p-[4px] bg-gray-1400 rounded-full flex gap-zero w-fit mx-auto"
              >
                <li class="list-none text-center flex">
                  <a href="#hydrate-tab" class="packages-tab" role="tab"
                    >Hydrate</a
                  >
                </li>
                <li class="list-none text-center flex">
                  <a
                    href="#ascend-tab"
                    class="packages-tab flex justify-center items-center gap-3xs"
                    role="tab"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 576 512"
                      fill="currentColor"
                      style="height: .8lh"
                      ><path
                        d="M460.7 39.3l-2.2-2.1c-4.7-4.6-11.5-6.4-17.9-4.7s-11.4 6.6-13.1 13l-.8 2.9c-3.3 11.8-5.1 23.7-5.5 35.6c24.3 20.6 42.9 47.8 53.3 78.8c-8.2-1.9-16.5-2.9-25-2.9c-.6 0-1.1 0-1.7 0c-18.4-44-56.5-77.4-103.6-89.3l-3.4-.9c-6.2-1.6-12.9-.6-18.5 2.6c-10.8 6.2-15.6 19.5-11.2 31.1c14.9 39.5 44.3 71.4 81.4 89.7c-3.7 6.6-6.4 14-7.6 21.8L279.7 154.9C248.8 137.3 213.8 128 178.2 128c-32.3 0-62.2 16.8-78.9 44.4C89 159.9 73.4 152 56 152c-30.9 0-56 25.1-56 56s25.1 56 56 56c11.3 0 21.8-3.3 30.6-9.1c4.9 17.2 14.5 33.1 28.4 45.9L257.2 431.2C269 442 284.4 448 300.4 448H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H352 335.2 320V340.5c0-42.9-28.4-80.5-69.6-92.3l-30.8-8.8c-8.5-2.4-13.4-11.3-11-19.8s11.3-13.4 19.8-11l30.8 8.8c55 15.7 92.8 65.9 92.8 123.1v15.7l56-32.4 6.4-3.7H515.7c33.3 0 60.3-27 60.3-60.3c0-18.1-8.2-35.3-22.2-46.7l-34.6-28.2c-4.6-3.7-9.4-7.1-14.5-10c8.4-49.3-7.8-100-43.9-135.5zm-318.5 382c-14.7 9.8-18.7 29.7-8.9 44.4s29.7 18.7 44.4 8.9l46-30.7-48.6-44.5-32.9 22zM480 240a16 16 0 1 1 32 0 16 16 0 1 1 -32 0z"
                      ></path></svg
                    > Ascend</a
                  >
                </li>
              </ol>
              <div
                id="hydrate-tab"
                role="tabpanel"
                class="box flow prose bg-mint-100 rounded-2xl text-mint-1000"
              >
                <p>
                  For teams who write their own content but lack the time or
                  tools to ensure it gets seen: we provide precise SEO research,
                  planning, and topic ideas designed to enhance your content's
                  reach, engage your audience, and increase conversions.
                </p>
                <h3
                  class="text-center text-mint-900 text-step-4 md:text-step-5"
                >
                  $2,000<small class="text-step-00 text-mint-800">/month</small>
                </h3>
                <p class="text-step-000 text-center">
                  <a href="#ComparePackages"
                    >Read more to see if Hydrate is right for you</a
                  >
                </p>
                <p>
                  <a
                    href="https://buy.stripe.com/00geYvbez2EHeVa14c"
                    target="_blank"
                    aria-label="Opens in a new tab"
                    class="button bg-mint-1000 text-mint-200 hover:bg-mint-900 hover:text-mint-100 focus:outline-2 focus:outline-mint-900 focus:bg-mint-900 focus:text-mint-100"
                    >Enroll in Hydrate</a
                  >
                </p>
              </div>
              <div
                id="ascend-tab"
                role="tabpanel"
                class="box flow prose bg-mint-100 rounded-2xl text-mint-1000"
              >
                <p>
                  For teams looking for a complete, hands-off content solution:
                  we combine our expert SEO research with high-quality writing
                  to deliver content that ranks, engages, and converts.
                </p>
                <h3
                  class="text-center text-mint-900 text-step-4 md:text-step-5"
                >
                  $6,000<small class="text-step-00 text-mint-800">/month</small>
                </h3>
                <p class="text-step-000 text-center">
                  <a href="#ComparePackages"
                    >Read more to see if Ascend is right for you</a
                  >
                </p>
                <p>
                  <a
                    href="https://buy.stripe.com/5kAeYv3M71ADcN2eV4"
                    target="_blank"
                    aria-label="Opens in a new tab"
                    class="button bg-mint-1000 text-mint-200 hover:bg-mint-900 hover:text-mint-100 focus:outline-2 focus:outline-mint-900 focus:bg-mint-900 focus:text-mint-100"
                    >Enroll in Ascend</a
                  >
                </p>
              </div>
            </seven-minute-tabs>
          </div>
        </div>
        <div class="flow" id="FeaturesList">
          <div class="rounded-3xl bg-[#ebc644] p-2xs text-gold-1000">
            <div class="box bg-gold-100 flow prose rounded-2xl">
              <h2 class="relative text-step-3 lg:text-step-4 text-gold-1000">
                Feature list
              </h2>
              <table-saw breakpoint="(max-width: 760px)">
                <table class="w-full mx-auto text-left md:text-center">
                  <thead>
                    <th></th>
                    <th class="w-1/4 px-xs py-s">Hydrate</th>
                    <th class="w-1/4 px-xs py-s">Ascend</th>
                  </thead>
                  <tbody class="divide-y divide-blue-vivid-800">
                    <tr>
                      <th class="py-s text-left">Content assets</th>
                      <td class="py-s">2</td>
                      <td class="py-s">2</td>
                    </tr>
                    <tr>
                      <th class="py-s text-left">Content machine</th>
                      <td class="py-s"><Checkmark class="text-step-0000" /></td>
                      <td class="py-s"><Checkmark class="text-step-0000" /></td>
                    </tr>
                    <tr>
                      <th class="py-s text-left">Acquisition best practices</th>
                      <td class="py-s"><Checkmark class="text-step-0000" /></td>
                      <td class="py-s"><Checkmark class="text-step-0000" /></td>
                    </tr>
                    <tr>
                      <th class="py-s text-left">Engagement best practices</th>
                      <td class="py-s"><Checkmark class="text-step-0000" /></td>
                      <td class="py-s"><Checkmark class="text-step-0000" /></td>
                    </tr>
                    <tr>
                      <th class="py-s text-left">Converstion best practices</th>
                      <td class="py-s"><Checkmark class="text-step-0000" /></td>
                      <td class="py-s"><Checkmark class="text-step-0000" /></td>
                    </tr>
                    <tr>
                      <th class="py-s text-left">Training</th>
                      <td class="py-s"><Checkmark class="text-step-0000" /></td>
                      <td class="py-s"><Checkmark class="text-step-0000" /></td>
                    </tr>
                    <tr>
                      <th class="py-s text-left">Branded copy</th>
                      <td class="py-s">&mdash;</td>
                      <td class="py-s">Unlimited revisions</td>
                    </tr>
                    <tr>
                      <th class="py-s text-left"
                        >Page level optimizations <a
                          href="#PageLevelOptimizations">†</a
                        ></th
                      >
                      <td class="py-s">&mdash;</td>
                      <td class="py-s"><Checkmark class="text-step-0000" /></td>
                    </tr>
                    <tr>
                      <th class="py-s text-left">Minimum term</th>
                      <td class="py-s">Month-to-month</td>
                      <td class="py-s">Month-to-month</td>
                    </tr>
                    <tr>
                      <th class="py-s text-left">Pay by credit card</th>
                      <td class="py-s"><Checkmark class="text-step-0000" /></td>
                      <td class="py-s"><Checkmark class="text-step-0000" /></td>
                    </tr>
                  </tbody>
                </table>
              </table-saw>
            </div>
            <div class="box mx-auto text-center w-fit">
              <p class="text-step-000" id="PageLevelOptimizations">
                † Page level optimizations include keyphrase density, URL, image
                names, image <code>alt</code>
                 tags, <code>meta</code> tags, and schema.org markup.
              </p>
            </div>
          </div>
        </div>
        <div class="rounded-3xl bg-[#869df9] p-2xs" id="ComparePackages">
          <div
            class="box bg-indigo-100 flow prose rounded-2xl text-indigo-1000"
          >
            <h3 class="text-indigo-1000 text-step-3 lg:text-step-4">
              Compare packages
            </h3>
            <div class="switcher">
              <div class="box flow prose">
                <h4
                  class="text-indigo-1000 text-step-2 ld:text-step-3 text-center"
                >
                  Hydrate
                </h4>
                <ul role="list" class="space-y-xs text-step-000">
                  <li class="bullet">
                    <Bullet />
                     Get straight to what your audience is searching for with
                    comprehensive, targeted SEO research that uncovers topics
                    they care about.
                  </li>
                  <li class="bullet">
                    <Bullet />
                     Keep your content fresh and relevant with a manageable flow
                    of handpicked content assets and titles that speak directly
                    to your reader's interests and search intent.
                  </li>
                  <li class="bullet">
                    <Bullet />
                     Fine-tune your in-house writing with smart insights and
                    practical advice that make your content sharper and more
                    effective.
                  </li>
                  <li class="bullet">
                    <Bullet />
                     Gain an edge with insights into top-performing content in
                    your niche—know what's ranking highest and use that
                    knowledge to get your own content seen.
                  </li>
                  <li class="bullet">
                    <Bullet />
                     Streamline your workflow with our Content Machine, a
                    bespoke tool that will simplify how you plan, create,
                    schedule, and manage your content.
                  </li>
                  <li class="bullet">
                    <Bullet />
                     Use the Content Machine to transform long-form articles
                    into engaging social media posts, easily extracting key
                    points for bite-sized content and organizing them for easy
                    future reuse and remixing across multiple platforms.
                  </li>
                </ul>
              </div>
              <div class="box flow prose">
                <h4
                  class="text-indigo-1000 text-step-2 ld:text-step-3 text-center"
                >
                  Ascend
                </h4>
                <ul role="list" class="space-y-xs text-step-000">
                  <li class="bullet">
                    <Bullet />
                     Bundle all the insights and support from Hydrate with the
                    added muscle of our full-service content team.
                  </li>
                  <li class="bullet">
                    <Bullet />
                     Consider your content taken care of. From thorough research
                    to writing complete articles, we handle the heavy lifting so
                    you don't have to.
                  </li>
                  <li class="bullet">
                    <Bullet />
                     Boost your conversion rates with high-calibre content
                    crafted and optimized to not just attract eyes, but turn
                    visitors into leads and customers.
                  </li>
                  <li class="bullet">
                    <Bullet />
                     Know that every element of every new post will be tuned for
                    maximum SEO impact, including fine-tuned keyphrase density,
                    optimized URLs, strategic image naming, descriptive alt tags
                    and meta tags, and clear schema.org markup to boost your
                    visibility and search engine rankings.
                  </li>
                  <li class="bullet">
                    <Bullet />
                     Trust in content that sounds like you, every time. No
                    generic AI fluff here, just real, authentic writing that
                    speaks to your customers.
                  </li>
                  <li class="bullet">
                    <Bullet />
                     Rest easy with unlimited revisions. We're committed to
                    making sure your content hits the mark every time.
                  </li>
                  <li class="bullet">
                    <Bullet />
                     Benefit from a content strategy that grows stronger over
                    time, with ongoing adjustments based on how your audience
                    interacts and converts.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div
          class="bg-[#e1744c] text-orange-vivid-900 rounded-3xl p-2xs"
          id="Calculator"
        >
          <div
            x-data="valueSlider"
            x-init="$watch('averageValue, impressionsSlider', () => calculateRevenue())"
            class="box flow prose bg-orange-100 rounded-2xl"
          >
            <h2 class="text-step-3 lg:text-step-4">Impressions to revenue</h2>
            <p>
              Want to see what an increase in impressions could do for your
              revenue? Set your current average monthly revenue per customer,
              your current impression benchmark, and then slide up to see the
              real impact: <a href="#CalculatorAssumptions">†</a>
            </p>
            <div
              class="box text-center flow flow-space-m rounded-3xl max-w-3xl mx-auto"
            >
              <h3
                class="mx-auto mt-zero text-orange-vivid-900 text-step-2 ld:text-step-3"
              >
                $<span x-text="prettyAverageValue"></span> ARPC
              </h3>
              <label for="averageValue" class="sr-only">Average value</label>
              <input
                id="averageValue"
                class="w-full mt-m"
                type="range"
                x-model="averageValue"
                min="20"
                max="520"
                step="100"
              />
              <h3
                class="mx-auto text-orange-vivid-900 text-step-2 ld:text-step-3"
              >
                <span x-text="prettyImpressions"></span> impressions
              </h3>
              <label for="impressionsSlider" class="sr-only">Impressions</label>
              <input
                id="impressionsSlider"
                class="w-full mt-m"
                type="range"
                x-model="impressionsSlider"
                min="500"
                max="100000"
                step="500"
              />
              <div class="flow prose">
                <h3
                  class="mx-auto mt-zero text-orange-vivid-900 text-step-2 ld:text-step-3"
                >
                  Potential LTV
                </h3>
                <h4 class="text-step-4 text-orange-vivid-800 mt-xs">
                  <span x-text="potentialLTV"></span>
                </h4>
                <p class="mx-auto mt-xs">
                  <span x-text="leads"></span> leads, <span x-text="leadsClosed"
                  ></span>
                   leads closed.
                </p>
              </div>
            </div>
          </div>
          <div class="box flow prose">
            <p
              class="mx-auto text-center text-step-000"
              id="CalculatorAssumptions"
            >
              † Assuming 2% conversion rate on impressions <a
                href="https://blog.hubspot.com/marketing/landing-page-stats#:~:text=The%20average%20landing%20page%20conversion,you%20and%20your%20target%20audience"
                target="_blank">¹</a
              >
              <a
                href="https://www.outerboxdesign.com/web-design-articles/ctr-based-on-organic-position"
                target="_blank">²</a
              >, that a customer stays for 3 years, and a 10% close rate on
              leads.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="region wrapper">
      <div class="switcher" style="--threshold: 60rem;">
        <div class="flex flex-col space-y-l-xl" id="FAQs">
          <div class="box w-fit mx-auto text-center">
            <h2 class="relative lg:text-[4vw]">
              <svg
                viewBox="0 0 573 80"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                class="absolute -bottom-xs left-xs z-0 h-2xs text-[#bfff00]"
              >
                <path
                  d="M8.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
                  fill="currentColor"></path>
                <path
                  d="M83.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
                  fill="currentColor"></path>
                <path
                  d="M158.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
                  fill="currentColor"></path>
                <path
                  d="M233.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
                  fill="currentColor"></path>
                <path
                  d="M308.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
                  fill="currentColor"></path>
                <path
                  d="M383.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
                  fill="currentColor"></path>
                <path
                  d="M458.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
                  fill="currentColor"></path>
                <path
                  d="M533.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
                  fill="currentColor"></path>
              </svg>
               FAQs
            </h2>
          </div>
          <div class="rounded-3xl bg-[#869df9] p-2xs">
            <div
              class="box bg-indigo-100 rounded-2xl text-indigo-vivid-900 divide-y divide-blue-vivid-600"
            >
              <AccordionItem
                title="Why do you work with health and wellness businesses, specifically?"
                idx={0}
              >
                <p>
                  15 years deep into our professional journey, we're acutely
                  aware of how easy it is to slip into an unhealthy lifestyle
                  when you're busy. And, frankly, that story is all too common
                  for people the world over. There are some incredible health
                  and wellness companies out there making real change to
                  people's lives, and we love the idea of dialing our focus into
                  supporting those who are driving that change. We're also firm
                  believers that happy, healthy people create better businesses.
                </p>
              </AccordionItem>
              <AccordionItem
                title="What does a completed set of research include?"
                idx={1}
              >
                <p>
                  EVERYTHING you need to write (or have us write) compelling
                  content that your target audience is currently searching for
                  every day. That includes everything from an optmized title, to
                  the key phrases you'll need to incorporate, to example sites
                  that are ranking well in the same space, to specific guidance
                  on how best to tailor the piece. We'll even include
                  suggestions on how to position any relevant CTAs.
                </p>
              </AccordionItem>
              <AccordionItem title="What is this 'Content Machine'?" idx={2}>
                <p>
                  The Content Machine is a Notion template and a framework
                  designed to make content research, creation, organization, and
                  scheduling straightforward and effective. It's built for small
                  business teams, freelancers and solopreneurs who want to
                  create better content, faster. It will help you:
                </p>
                <h3 class="text-step-00">Research and plan with ease</h3>
                <p>
                  Content Machine gives you a dedicated space to consolidate
                  market research, competitive insights, key phrases for SEO,
                  and creative inspiration, right where you plan and produce
                  your content. This clever integration means you can easily
                  reference your foundational research as you develop every
                  piece of content.
                </p>
                <h3 class="text-step-00">Create content that resonates</h3>
                <p>
                  Draft, edit, and finalize both long and short-form content
                  within a single, unified space. From long-form articles to
                  quick social media posts, Content Machine streamlines the
                  whole process, helping you produce content that is clear,
                  engaging, and always resonant.
                </p>
                <h3 class="text-step-00">Organize effortlessly</h3>
                <p>
                  Say goodbye to scattered documents and disjointed workflows.
                  Content Machine brings harmony to your content strategy,
                  enabling you to link short and long-form pieces, categorize
                  your work, and keep everything in the same place. This smart
                  organization reduces the time from concept to publication,
                  allowing you to focus less on managing and more on creating.
                </p>
                <h3 class="text-step-00">Schedule with precision</h3>
                <p>
                  View your entire content calendar at a glance. Schedule,
                  rearrange, plan ahead, and easily go back in time to find past
                  work that's ripe for repurposing. The flexibility to adapt to
                  new trends or audience needs will keep your content strategy
                  dynamic and relevant. What you
                </p>publish will always be on time, on brand.
                <h3 class="text-step-00">Collaborate seamlessly</h3>
                <p>
                  Whether you're on your own or part of a team, Content Machine
                  facilitates easy collaboration whenever you need it. Share
                  feedback, suggestions, and edits in real time, right from the
                  same space where you're creating and organizing your content.
                  Collaboration, without the chaos.
                </p>
              </AccordionItem>
              <AccordionItem
                title="Will this help reduce my paid ad spend?"
                idx={3}
              >
                <p>
                  Almost certainly, yes. The more of a domain authority you
                  become (by search engines recognizing that you create high
                  quality content that your audience wants to read), the more
                  free, organic traffic your site will receive. This takes time,
                  energy, and effort, but with the right content your organic
                  traffic <em>will</em> grow.
                </p>
              </AccordionItem>
              <AccordionItem title="Can I pause or cancel any time?" idx={4}>
                <p>
                  Because our service is month to month, and because we deliver
                  high quality work extremely quickly, we don't provide refunds.
                  But you will only ever be charged for one month in advance,
                  and you can cancel any time.
                </p>
              </AccordionItem>
            </div>
          </div>
        </div>
        <div class="flex flex-col space-y-l-xl" id="AddOns">
          <div class="box w-fit mx-auto text-center">
            <h2 class="relative lg:text-[4vw]">
              <svg
                viewBox="0 0 573 80"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                class="absolute -bottom-xs left-xs z-0 h-2xs text-[#bfff00]"
              >
                <path
                  d="M8.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
                  fill="currentColor"></path>
                <path
                  d="M83.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
                  fill="currentColor"></path>
                <path
                  d="M158.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
                  fill="currentColor"></path>
                <path
                  d="M233.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
                  fill="currentColor"></path>
                <path
                  d="M308.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
                  fill="currentColor"></path>
                <path
                  d="M383.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
                  fill="currentColor"></path>
                <path
                  d="M458.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
                  fill="currentColor"></path>
                <path
                  d="M533.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
                  fill="currentColor"></path>
              </svg>
               Add-ons
            </h2>
          </div>
          <ul class="cluster text-center justify-center" role="list">
            {
              addOns.map((addOn, index) => {
                const color =
                  Object.values(colorWheel)[
                    index % Object.keys(colorWheel).length
                  ];
                return (
                  <li
                    class={`box ${color} rounded-3xl`}
                    style="--gutter: var(--space-2xs) var(--space-xs);"
                  >
                    {addOn}
                  </li>
                );
              })
            }
          </ul>
        </div>
      </div>
    </section>
  </article>

  <script src="@zachleat/table-saw/table-saw.js"></script>
  <script src="@zachleat/seven-minute-tabs"></script>
  <script>
    import Alpine from 'alpinejs';

    const formatter = new Intl.NumberFormat('en-US', {
      style: 'currency',
      currency: 'USD',
      maximumFractionDigits: 0,
    });

    window.Alpine = Alpine;

    Alpine.data('valueSlider', () => ({
      init() {
        this.calculateRevenue();
      },
      impressionsSlider: '5000',
      prettyImpressions: '0',
      prettyAverageValue: '0',
      leads: 0,
      leadsClosed: 0,
      averageValue: '120',
      potentialLTV: '$0',
      calculateRevenue() {
        this.leads = Math.round(
          (((Number(this.impressionsSlider) / 100) * 2) / 100) * 7
        );
        this.leadsClosed = Math.round((this.leads / 100) * 10);
        this.potentialLTV = formatter.format(
          Math.round(this.leadsClosed * Number(this.averageValue) * 36)
        );
        this.prettyImpressions = Number(this.impressionsSlider).toLocaleString(
          'en-US'
        );
        this.prettyAverageValue = Number(this.averageValue).toLocaleString(
          'en-US'
        );
      },
    }));

    Alpine.start();
  </script>
</Layout>
