---
import Layout from '../layouts/Layout.astro';
---

<Layout
  meta={{
    title:
      'Content marketing expertise for growing health &; wellness SaaS companies',
    description:
      'With a combined 30 years of experience in the tech industry, we help your health & wellness SaaS business grow organically.',
  }}
>
  <main id="main">
    <section class="region bg-blue-300">
      <div class="wrapper">
        <div class="flow prose">
          <h2>Drive more inbound leads, from your ideal audience</h2>
          <h3>Are you posting often but struggling with focus?</h3>
          <p>
            Let us apply our research to your body of work and recommend
            optimziations. You've already created a massive amount of content,
            but it's not getting the traction you want. Let us supercharge your
            existing content.
          </p>
        </div>
      </div>
    </section>
    <section class="region bg-blue-200">
      <div class="wrapper">
        <div class="flow prose">
          <h2>Looking for direction on content marketing?</h2>
          <h3>Let us help you write content that connects</h3>
          <p>
            Whether you have a team to write copy, or need us to, we can help by
            providing a data backed content strategy. We'll do the research, and
            give you ideal long form content ideas to write about. We'll also
            provide a list of keywords to target, example websites that rank
            highly for those keyphrases, and analysis findings so you can track
            how you stack up.
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
