---
import Checkmark from '../components/Checkmark.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  meta={{
    title:
      'Content marketing expertise for growing health &; wellness SaaS companies',
    description:
      'With a combined 30 years of experience in the tech industry, we help your health & wellness SaaS business grow organically.',
  }}
>
  <article id="main" class="relative z-10">
    <section class="region">
      <div
        class="wrapper flow prose fade-in"
        style="--wrapper-max-width: 65ch;"
      >
        <div class="box flow prose">
          <h2>Drive more inbound leads, from your ideal audience</h2>
          <h3>Are you posting often but struggling with focus?</h3>
          <p>
            Let us apply our research to your body of work and recommend
            optimziations. You've already created a massive amount of content,
            but it's not getting the traction you want. Let us supercharge your
            existing content.
          </p>
        </div>
      </div>
    </section>
    <section class="region">
      <div
        class="wrapper flow prose fade-in"
        style="--wrapper-max-width: 65ch;"
      >
        <div class="box flow prose">
          <h2>Looking for direction on content marketing?</h2>
          <h3>Let us help you write content that connects</h3>
          <p>
            Whether you have a team to write copy, or need us to, we can help by
            providing a data backed content strategy. We'll do the research, and
            give you ideal long form content ideas to write about. We'll also
            provide a list of keywords to target, example websites that rank
            highly for those keyphrases, and analysis findings so you can track
            how you stack up.
          </p>
        </div>
      </div>
    </section>
    <section class="region" id="PricingTable">
      <div class="wrapper" style="--wrapper-max-width: 65ch;">
        <div class="box">
          <h2>Feature list</h2>
        </div>
      </div>
      <div class="wrapper flow prose" style="--wrapper-max-width: 85ch;">
        <div class="box">
          <table-saw breakpoint="(max-width: 760px)">
            <table class="w-full mx-auto text-left md:text-center">
              <thead>
                <th></th>
                <th class="w-1/4 px-xs py-s">Straight</th>
                <th class="w-1/4 px-xs py-s">Straight+</th>
              </thead>
              <tbody class="divide-y divide-blue-vivid-800">
                <tr>
                  <th class="py-s text-left">Content ideas</th>
                  <td class="py-s">2</td>
                  <td class="py-s">2</td>
                </tr>
                <tr>
                  <th class="py-s text-left">Content machine</th>
                  <td class="py-s"><Checkmark class="text-step-0000" /></td>
                  <td class="py-s"><Checkmark class="text-step-0000" /></td>
                </tr>
                <tr>
                  <th class="py-s text-left">Engagement best practices</th>
                  <td class="py-s"><Checkmark class="text-step-0000" /></td>
                  <td class="py-s"><Checkmark class="text-step-0000" /></td>
                </tr>
                <tr>
                  <th class="py-s text-left">Converstion best practices</th>
                  <td class="py-s"><Checkmark class="text-step-0000" /></td>
                  <td class="py-s"><Checkmark class="text-step-0000" /></td>
                </tr>
                <tr>
                  <th class="py-s text-left">Training</th>
                  <td class="py-s"><Checkmark class="text-step-0000" /></td>
                  <td class="py-s"><Checkmark class="text-step-0000" /></td>
                </tr>
                <tr>
                  <th class="py-s text-left">Branded copy</th>
                  <td class="py-s">&mdash;</td>
                  <td class="py-s">Unlimited revisions</td>
                </tr>
                <tr>
                  <th class="py-s text-left">Page level optimizations</th>
                  <td class="py-s">&mdash;</td>
                  <td class="py-s"><Checkmark class="text-step-0000" /></td>
                </tr>
                <tr>
                  <th class="py-s text-left">Minimum term</th>
                  <td class="py-s">Month-to-month</td>
                  <td class="py-s">Month-to-month</td>
                </tr>
                <tr>
                  <th class="py-s text-left">Pay by credit card</th>
                  <td class="py-s"><Checkmark class="text-step-0000" /></td>
                  <td class="py-s"><Checkmark class="text-step-0000" /></td>
                </tr>
              </tbody>
            </table>
          </table-saw>
        </div>
      </div>
    </section>
  </article>
</Layout>

<script src="@zachleat/table-saw/table-saw.js"></script>
