---
import ThankYouLayout from '../layouts/ThankYouLayout.astro';

const customSignHeading = {
  title: 'Thank you for joining',
  subtitle:
    'A payment to STRAIGHTFORWARD GROWTH will appear on your statement.',
};
---

<ThankYouLayout
  meta={{
    title: 'Straighforward Growth | Consulting expertise with a twist',
    description:
      'With a combined 30 years of experience in the tech industry, we help you grow your business with a twist.',
  }}
  header={customSignHeading}
>
  <section class="region wrapper">
    <div class="content flow prose">
      <h2>What's next?</h2>
      <p>
        Within the next 24 hours you'll get an email from Notion saying that
        you've been added as a guest to your own unique page. This page will
        have your first 3 long form content suggestions, and so much more!
      </p>
      <p id="notion-share-update-msg">
        Typically we use the same email address associated with your Stripe
        account to share the Notion page. If you would like to use another email
        address, feel free to add that here.
      </p>
      <form
        name="notion-share-email"
        class="flow"
        netlify-honeypot="bot-field"
        method="POST"
        data-netlify="true"
        action="/thank-you-enrollment/?notion-share-email=true"
        id="notion-share-email"
      >
        <input
          type="hidden"
          name="subject"
          value="Form: straightfowardgrowth.com // Notion share email"
        />
        <p class="hidden">
          <label for="bot-field">Do you like delicious treats?</label>
          <input name="bot-field" id="bot-field" />
        </p>
        <p class="hidden">
          <input name="sessionId" id="sessionId" value="" />
        </p>
        <span class="flex flex-col space-y-3xs-2xs">
          <label for="email">Preferred email for Notion</label>
          <input
            id="email"
            name="email"
            type="email"
            required
            aria-required="true"
          />
        </span>
        <button type="submit" class="button">Submit</button>
      </form>
    </div>
  </section>
</ThankYouLayout>

<script>
  // Grab query params
  const searchParams = new URLSearchParams(window.location.search);
  // Isolate notion-share-email
  const notionShareEmail = searchParams.get('notion-share-email');
  // Grab the form
  const notionShareEmailForm = document.getElementById(
    'notion-share-email'
  ) as HTMLFormElement;
  const notionShareMsg = document.getElementById(
    'notion-share-update-msg'
  ) as HTMLParagraphElement;

  // If the form was just submitted, hide it, if not, add the session id
  if (notionShareEmail) {
    // Add the hidden class
    notionShareEmailForm.classList.add('hidden');
    // Update the Notion shared message
    notionShareMsg.innerHTML =
      '<strong>Email address to be used with your membership has been updated!</strong>';
    // Else, if Stripe session id is present, add it to the form
  } else {
    // Isolate session_id
    const session_id = searchParams.get('session_id');
    // Grab form input
    const sessionIdInput = document.getElementById(
      'sessionId'
    ) as HTMLInputElement;
    // Update form input value
    if (sessionIdInput) {
      sessionIdInput.value = (session_id?.toString() ?? '') as string;
    }
  }
</script>
