---
import ThankYouLayout from '../layouts/ThankYouLayout.astro';

const healthandwellness = {
  title: "We're excited to talk!",
  subtitle:
    "We work hard to get health and wellness content seen, and we can't wait to show you what we can do for you.",
};
---

<ThankYouLayout
  meta={{
    title: 'Straighforward Growth | Consulting expertise with a twist',
    description:
      'With a combined 30 years of experience in the tech industry, we help you grow your business with a twist.',
  }}
  header={healthandwellness}
>
  <section class="region wrapper">
    <div class="content flow prose">
      <h2 class="lg:text-step-4 leading-flat">What's next?</h2>
      <video playsinline controls class="min-w-zero max-w-full">
        <source src="/media/enrollment-call-web.webm" type="video/webm" />
        <source src="/media/enrollment-call-web.mp4" type="video/mp4" />
         Download the
        <a href="/media/enrollment-call-web.mp4">MP4</a>
         video.
      </video>
      <p>
        You should have already received a Google Meet calendar invite for the
        correct day and time, bundled with a video call link. If you've never
        used Google Meet before <a
          href="https://support.google.com/meet/answer/10409699?hl=en"
          target="_blank">you should check your video &amp; audio settings</a
        > before the call to ensure everything is working correctly. If you
        don't see the invite, just pop an email through to <a
          href="mailto:team@straightforwardgrowth.com"
          >team@straightforwardgrowth.com</a
        >
      </p>
      <h3>What to expect</h3>
      <p>
        We'll spend 30 minutes together. The call will be focused on learning
        more about you and your company, what you're struggling with, and where
        you want to get to. We'll speak to how closely our experience, skills,
        and market research map to your challenges, taking us all to a clear
        place on the impact we could make by teaming up. No obligations. No hard
        sells. Just an open conversation to see if we could achieve the kind of
        content marketing results you need 💫
      </p>
    </div>
  </section>
</ThankYouLayout>
