---
// TODO: Find a better solution for Accordions
// Adapted from https://github.com/markteekman/accessible-astro-components/tree/main
---

<div class="accordion">
  <ul class="accordion__wrapper">
    <slot />
  </ul>
</div>

<script src="../scripts/accordion.js"></script>
