---

---

<div class="region spot-color-blue">
  <div class="wrapper flow flow-space-l-xl text-center" id="benefits">
    <div class="flow prose">
      <h2 class="mx-auto">Membership Benefits</h2>
      <p class="mx-auto">
        Perks to help you save time and money. Efficiently and effectively
        connect with your audience!
      </p>
    </div>
    <ul class="grid" role="list">
      <li class="box mx-auto flow prose">
        <h3 class="uppercase step-0 font-weight-semibold mx-auto">
          Cut through the noise
        </h3>
        <p>
          We've analyzed the traffic driving potential of over 40,000 sign
          company keyphrases.
        </p>
      </li>
      <li class="box mx-auto flow prose">
        <h3 class="uppercase step-0 font-weight-semibold mx-auto">
          Connect with your audience
        </h3>
        <p>
          Use our validated search analysis to produce long and short form
          content that resonates.
        </p>
      </li>
      <li class="box mx-auto flow prose">
        <h3 class="uppercase step-0 font-weight-semibold mx-auto">
          Blazing fast delivery
        </h3>
        <p>
          On average you'll get your first long form content within 24 hours.
        </p>
      </li>
      <li class="box mx-auto flow prose">
        <h3 class="uppercase step-0 font-weight-semibold mx-auto">
          Do it yourself
        </h3>
        <p>Supercharge your existing team or agency.</p>
      </li>
      <li class="box mx-auto flow prose">
        <h3 class="uppercase step-0 font-weight-semibold mx-auto">
          Distribution recommendations
        </h3>
        <p>
          How this content should be chopped up and served to our target
          audience.
        </p>
      </li>
      <li class="box mx-auto flow prose">
        <h3 class="uppercase step-0 font-weight-semibold mx-auto">
          Example content to help you get started
        </h3>
        <p>
          We'll give you high ranking content examples for our high value topics
          to use as inspiration.
        </p>
      </li>
    </ul>
  </div>
</div>
