---

---

<div
  class="region spot-color-blue-dark relative z-0 overflow-hidden"
  id="benefits"
>
  <div id="orb-dark-blue-purple"></div>
  <div class="wrapper flow flow-space-l-xl text-center relative z-10">
    <div class="box flow prose spot-color-transparent">
      <h2 class="mx-auto" style="color: var(--blue200);">
        Membership benefits
      </h2>
      <p class="mx-auto">
        Perks to help you save time and money. Efficiently and effectively
        connect with your audience!
      </p>
    </div>
    <ul class="switcher spot-color-transparent" role="list">
      <li class="box mx-auto flow prose">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="h-auto"
          style="width: 3rem;"
          role="img"
          viewBox="0 0 640 512"
        >
          <title>Fast truck</title>
          <path
            opacity=".4"
            d="M266.3 51.7c5.7 4.8 7.4 12.8 4.1 19.4L233.9 144H288c6.9 0 13 4.4 15.2 10.9s-.1 13.7-5.6 17.9l-128 96c-5.9 4.5-14.2 4.2-19.9-.5s-7.4-12.8-4.1-19.4L182.1 176H128c-6.9 0-13-4.4-15.2-10.9s.1-13.7 5.6-17.9l128-96c5.9-4.5 14.2-4.2 19.9 .5zM96 432a80 80 0 1 1 160 0A80 80 0 1 1 96 432zm288 0a80 80 0 1 1 160 0 80 80 0 1 1 -160 0z"
          ></path><path
            class="text-color-yellow300"
            d="M0 48C0 21.5 21.5 0 48 0H368c26.5 0 48 21.5 48 48V96h50.7c17 0 33.3 6.7 45.3 18.7L589.3 192c12 12 18.7 28.3 18.7 45.3V256v32 64c17.7 0 32 14.3 32 32s-14.3 32-32 32H576h-1.1c-7.8-54.3-54.4-96-110.9-96s-103.1 41.7-110.9 96H286.9c-7.8-54.3-54.4-96-110.9-96s-103.1 41.7-110.9 96H48c-26.5 0-48-21.5-48-48V48zM416 256H544V237.3L466.7 160H416v96zM266.3 51.7c-5.7-4.8-13.9-5-19.9-.5l-128 96c-5.5 4.1-7.8 11.3-5.6 17.9s8.3 10.9 15.2 10.9h54.1l-36.4 72.8c-3.3 6.6-1.6 14.7 4.1 19.4s13.9 5 19.9 .5l128-96c5.5-4.1 7.8-11.3 5.6-17.9S294.9 144 288 144H233.9l36.4-72.8c3.3-6.6 1.6-14.7-4.1-19.4z"
          ></path></svg
        >
        <h3
          class="uppercase step-0 font-weight-semibold mx-auto"
          style="color: var(--blue200);"
        >
          Fast &amp; friendly
        </h3>
        <p>
          On average, you'll get your first content ideas within 24 hours, and
          you can reach us anytime.
        </p>
      </li>
      <li class="box mx-auto flow prose">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="h-auto"
          style="width: 3rem;"
          role="img"
          viewBox="0 0 640 512"
        >
          <title>Power in your hands</title>
          <path
            opacity=".4"
            d="M80 104c0-22.1-17.9-40-40-40S0 81.9 0 104v56 64V325.5c0 25.5 10.1 49.9 28.1 67.9L128 493.3c12 12 28.3 18.7 45.3 18.7H240c26.5 0 48-21.5 48-48V385.1c0-29.7-11.8-58.2-32.8-79.2l-25.3-25.3 0 0-15.2-15.2-32-32c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l32 32 15.2 15.2c11 11 9.2 29.2-3.7 37.8c-9.7 6.5-22.7 5.2-31-3.1L98.7 309.5c-12-12-18.7-28.3-18.7-45.3V224 144 104zm480 0v40 80 40.2c0 17-6.7 33.3-18.7 45.3l-51.1 51.1c-8.3 8.3-21.3 9.6-31 3.1c-12.9-8.6-14.7-26.9-3.7-37.8l15.2-15.2 32-32c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-32 32-15.2 15.2 0 0-25.3 25.3c-21 21-32.8 49.5-32.8 79.2V464c0 26.5 21.5 48 48 48h66.7c17 0 33.3-6.7 45.3-18.7l99.9-99.9c18-18 28.1-42.4 28.1-67.9V224 160 104c0-22.1-17.9-40-40-40s-40 17.9-40 40z"
          ></path><path
            class="text-color-yellow300"
            d="M320 0a128 128 0 1 0 0 256A128 128 0 1 0 320 0z"></path></svg
        >
        <h3
          class="uppercase step-0 font-weight-semibold mx-auto"
          style="color: var(--blue200);"
        >
          Same team, better results
        </h3>
        <p>
          Supercharge your existing team or agency with over 600+ hours of
          research.
        </p>
      </li>
      <li class="box mx-auto flow prose">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="h-auto"
          style="width: 3rem;"
          role="img"
          viewBox="0 0 640 512"
        >
          <title>Open book of knowledge</title>
          <path
            opacity=".4"
            d="M64 373.8c0 15.3 10.8 28.4 25.7 31.4L304 448V32L100.6 2.2C81.3-.7 64 14.3 64 33.8V373.8zM576 33.8c0-19.5-17.3-34.5-36.6-31.7L336 32V448l214.3-42.9c15-3 25.7-16.1 25.7-31.4V33.8z"
          ></path><path
            class="text-color-yellow300"
            d="M89.7 405.1L320 451.2l230.3-46.1c15-3 25.7-16.1 25.7-31.4V28.8l25.7-5.1C621.5 19.7 640 34.8 640 55V421.8c0 15.3-10.8 28.4-25.7 31.4L320 512 25.7 453.1C10.8 450.2 0 437 0 421.8V55C0 34.8 18.5 19.7 38.3 23.7L64 28.8v345c0 15.3 10.8 28.4 25.7 31.4z"
          ></path></svg
        >
        <h3
          class="uppercase step-0 font-weight-semibold mx-auto"
          style="color: var(--blue200);"
        >
          Training
        </h3>
        <p>
          We'll share best practices, distribution recommendations, and
          wireframes for layouts.
        </p>
      </li>
    </ul>
  </div>
</div>
