---

---

<div class="region spot-color-blue">
  <div class="wrapper flow flow-space-l-xl text-center" id="benefits">
    <div class="flow prose">
      <h2 class="mx-auto">Membership Benefits</h2>
      <p class="mx-auto">
        Perks to help you save time, money, and connect with your audience!
      </p>
    </div>
    <ul class="grid" role="list">
      <li class="box mx-auto flow prose">
        <h3 class="uppercase step-0 font-weight-semibold mx-auto">
          Know what to write
        </h3>
        <p>We've done the hard work of scouring over 40,000 keyword phrases.</p>
      </li>
      <li class="box mx-auto flow prose">
        <h3 class="uppercase step-0 font-weight-semibold mx-auto">
          Bring your own team
        </h3>
        <p>Our plans start with supercharging your existing team or agency.</p>
      </li>
      <li class="box mx-auto flow prose">
        <h3 class="uppercase step-0 font-weight-semibold mx-auto">
          Connect with your audience
        </h3>
        <p>
          Use our validated search analysis to produce long and short form
          content that resonates.
        </p>
      </li>
      <li class="box mx-auto flow prose">
        <h3 class="uppercase step-0 font-weight-semibold mx-auto">
          Blazing fast delivery
        </h3>
        <p>
          On average you'll get your first long form content within 24 hours.
        </p>
      </li>
      <li class="box mx-auto flow prose">
        <h3 class="uppercase step-0 font-weight-semibold mx-auto">
          Page type recommendations
        </h3>
        <p>
          Should this be a blog post, newsletter, or a landing page? We'll let
          you know.
        </p>
      </li>
      <li class="box mx-auto flow prose">
        <h class="uppercase step-0 font-weight-semibold">Example sites</h>
        <p>
          We'll give you a few example sites that rank highly for these
          keyphrases.
        </p>
      </li>
    </ul>
  </div>
</div>
