---

---

<div class="region wrapper flow flow-space-m-l">
  <h2>Benefits</h2>
  <ul class="grid" role="list">
    <li class="flow prose">
      <h3>Stop guessing what to write about</h3>
      <p>We've done the hard work of scouring over 40,000 keyword phrases.</p>
    </li>
    <li class="flow prose">
      <h3>Bring your own team</h3>
      <p>Our plans start with supercharging your existing team or agency.</p>
    </li>
    <li class="flow prose">
      <h3>Connect with your audience</h3>
      <p>
        Use our validated search analysis to produce long and short form content
        that resonates.
      </p>
    </li>
  </ul>
</div>
