---

---

<div class="region" id="contact">
  <div class="wrapper flow prose fade-in" style="--wrapper-max-width: 65ch;">
    <div class="box flow prose">
      <h2>Reach out</h2>
      <p>
        We specialize in data backed content marketing strategy for health and
        wellness SaaS companies. Does that sound like you? We'd love to talk.
      </p>
      <form
        name="main"
        class="flow"
        netlify-honeypot="bot-field"
        method="POST"
        data-netlify="true"
        action="/"
      >
        <input
          type="hidden"
          name="subject"
          value="Form: straightfowardgrowth.com"
        />
        <p class="hidden">
          <label for="bot-field">Do you like HIIT workouts?</label>
          <input name="bot-field" id="bot-field" />
        </p>
        <span class="stack">
          <label for="name">Name</label>
          <input
            id="name"
            name="name"
            type="text"
            required
            aria-required="true"
          />
        </span>
        <span class="stack">
          <label for="email">Email</label>
          <input
            id="email"
            name="email"
            type="email"
            required
            aria-required="true"
          />
        </span>
        <span class="stack">
          <label for="message">Message</label>
          <textarea
            name="message"
            id="message"
            rows="6"
            required
            aria-required="true"></textarea>
        </span>
        <div class="stack">
          <button type="submit" class="button">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
