---

---

<div class="region bg-blue-vivid-1100 text-blue-vivid-300" id="Contact">
  <div class="wrapper content">
    <div class="flow prose text-color-blue300 text-center mb-xl-2xl">
      <h2>Domain authority</h2>
      <p>
        We specialize in creating domain authority on the web for a custom sign
        companies. If you have any questions about the services above or looking
        for advice with your online marketing initiatives, let's chat.
      </p>
    </div>
    <form
      name="main-csc"
      netlify-honeypot="bot-field"
      method="POST"
      class="flow prose"
      data-netlify="true"
      action="/"
    >
      <input
        type="hidden"
        name="subject"
        value="Form: straightfowardgrowth.com / CSC"
      />
      <p class="hidden">
        <label for="bot-field">Do you like delicious treats?</label>
        <input name="bot-field" id="bot-field" />
      </p>
      <span class="stack">
        <label for="name">Name</label>
        <input
          id="name"
          name="name"
          type="text"
          required
          aria-required="true"
        />
      </span>
      <span class="stack">
        <label for="email">Email</label>
        <input
          id="email"
          name="email"
          type="email"
          required
          aria-required="true"
        />
      </span>
      <span class="stack">
        <label for="message">What are your goals?</label>
        <textarea
          name="message"
          id="message"
          rows="6"
          required
          aria-required="true"></textarea>
      </span>
      <div class="stack">
        <button type="submit" class="button">Submit</button>
      </div>
    </form>
  </div>
</div>
