---

---

<div class="region" id="Contact">
  <div class="wrapper flow prose fade-in" style="--wrapper-max-width: 65ch;">
    <div class="box flow prose">
      <h2 class="relative">
        <svg
          viewBox="0 0 573 80"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          class="absolute -bottom-xs left-xs z-0 h-2xs text-[#bfff00]"
        >
          <path
            d="M8.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
            fill="currentColor"></path>
          <path
            d="M83.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
            fill="currentColor"></path>
          <path
            d="M158.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
            fill="currentColor"></path>
          <path
            d="M233.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
            fill="currentColor"></path>
          <path
            d="M308.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
            fill="currentColor"></path>
          <path
            d="M383.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
            fill="currentColor"></path>
          <path
            d="M458.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
            fill="currentColor"></path>
          <path
            d="M533.191,0.001c-1.914,0.032 -3.981,0.903 -5.637,2.555c-2.937,2.938 -3.41,7.195 -1.058,9.547l27.628,27.629l-27.628,27.633c-2.352,2.347 -1.879,6.605 1.058,9.543c2.942,2.941 7.195,3.414 9.547,1.062l33.941,-33.941c1.118,-1.117 1.59,-2.664 1.469,-4.297c0.121,-1.629 -0.351,-3.18 -1.469,-4.297l-33.941,-33.937c-1.027,-1.032 -2.422,-1.52 -3.91,-1.497Z"
            fill="currentColor"></path>
        </svg>Reach out
      </h2>
      <p>
        We specialize in data backed content marketing strategy for health and
        wellness SaaS companies. Does that sound like you? We'd love to talk. <a
          href="https://tidycal.com/19qz8xm/straightfoward-growth"
          target="_blank"
          aria-label="Opens in a new tab">Book a call with us</a
        > or fill out the form below.
      </p>
      <form
        name="main"
        class="flow"
        netlify-honeypot="bot-field"
        method="POST"
        data-netlify="true"
        action="/"
      >
        <input
          type="hidden"
          name="subject"
          value="Form: straightfowardgrowth.com"
        />
        <p class="hidden">
          <label for="bot-field">Do you like HIIT workouts?</label>
          <input name="bot-field" id="bot-field" />
        </p>
        <span class="stack">
          <label for="name">Name</label>
          <input
            id="name"
            name="name"
            type="text"
            required
            aria-required="true"
          />
        </span>
        <span class="stack">
          <label for="email">Email</label>
          <input
            id="email"
            name="email"
            type="email"
            required
            aria-required="true"
          />
        </span>
        <span class="stack">
          <label for="message">Message</label>
          <textarea
            name="message"
            id="message"
            rows="6"
            required
            aria-required="true"></textarea>
        </span>
        <div class="stack">
          <button type="submit" class="button">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
