---
import notionCheatsheet from '../assets/sign-company-lead-generation-cheatsheet-v2@2x.png';
import { Picture } from 'astro:assets';
---

<div
  class="region spot-color-blue-dark relative z-0 overflow-hidden"
  id="notion"
>
  <div class="wrapper text-center justify-center items-center">
    <div class="box flow prose">
      <h2 class="mx-auto">
        Your framework for creating unlimited high value content
      </h2>
      <p class="mx-auto">
        A home for writing long and short form content with content ideas proven
        to have generated hundreds to hundreds of thousands of visitors.
      </p>
    </div>
    <Picture
      src={notionCheatsheet}
      widths={[520, 700, 615, 2000]}
      width={2602}
      height={2824}
      alt="Notion screenshots of the Content machine for Sign Companies"
      quality={80}
      format="avif"
      class="h-auto"
    />
  </div>
</div>
