---
import notionCheatsheet from '../assets/content-machine-faded-v2@2x.png';
import { Picture } from 'astro:assets';
---

<div class="region spot-color-blue-dark relative z-0 overflow-clip" id="notion">
  <svg
    viewBox="0 0 1204 1204"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    class="absolute z-0 w-auto h-auto"
    style="min-width: 1300px; top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);"
  >
    <g id="bullseye-svg-bg">
      <circle
        cx="602"
        cy="602"
        r="50"
        style="fill:none;stroke:url(#_Radial1);stroke-width:2.08px;"></circle>
      <circle
        cx="602"
        cy="602"
        r="100"
        style="fill:none;stroke:url(#_Radial2);stroke-width:2.08px;"></circle>
      <circle
        cx="602"
        cy="602"
        r="150"
        style="fill:none;stroke:url(#_Radial3);stroke-width:2.08px;"></circle>
      <circle
        cx="602"
        cy="602"
        r="200"
        style="fill:none;stroke:url(#_Radial4);stroke-width:2.08px;"></circle>
      <circle
        cx="602"
        cy="602"
        r="250"
        style="fill:none;stroke:url(#_Radial5);stroke-width:2.08px;"></circle>
      <circle
        cx="602"
        cy="602"
        r="300"
        style="fill:none;stroke:url(#_Radial6);stroke-width:2.08px;"></circle>
      <circle
        cx="602"
        cy="602"
        r="350"
        style="fill:none;stroke:url(#_Radial7);stroke-width:2.08px;"></circle>
      <circle
        cx="602"
        cy="602"
        r="400"
        style="fill:none;stroke:url(#_Radial8);stroke-width:2.08px;"></circle>
      <circle
        cx="602"
        cy="602"
        r="450"
        style="fill:none;stroke:url(#_Radial9);stroke-width:2.08px;"></circle>
      <circle
        cx="602"
        cy="602"
        r="500"
        style="fill:none;stroke:url(#_Radial10);stroke-width:2.08px;"></circle>
      <circle
        cx="602"
        cy="602"
        r="550"
        style="fill:none;stroke:url(#_Radial11);stroke-width:2.08px;"></circle>
      <circle
        cx="602"
        cy="602"
        r="600"
        style="fill:none;stroke:url(#_Radial12);stroke-width:2.08px;"></circle>
    </g>
    <defs>
      <radialGradient
        id="_Radial1"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(466,-466,466,466,603,601)"
      >
        <stop offset="0" style="stop-color:#0e2e47;stop-opacity:1"></stop>
        <stop offset="1" style="stop-color:#03111d;stop-opacity:1"></stop>
      </radialGradient>
      <radialGradient
        id="_Radial2"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(466,-466,466,466,603,601)"
      >
        <stop offset="0" style="stop-color:#0e2e47;stop-opacity:1"></stop>
        <stop offset="1" style="stop-color:#03111d;stop-opacity:1"></stop>
      </radialGradient>
      <radialGradient
        id="_Radial3"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(466,-466,466,466,603,601)"
      >
        <stop offset="0" style="stop-color:#0e2e47;stop-opacity:1"></stop>
        <stop offset="1" style="stop-color:#03111d;stop-opacity:1"></stop>
      </radialGradient>
      <radialGradient
        id="_Radial4"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(466,-466,466,466,603,601)"
      >
        <stop offset="0" style="stop-color:#0e2e47;stop-opacity:1"></stop>
        <stop offset="1" style="stop-color:#03111d;stop-opacity:1"></stop>
      </radialGradient>
      <radialGradient
        id="_Radial5"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(466,-466,466,466,603,601)"
      >
        <stop offset="0" style="stop-color:#0e2e47;stop-opacity:1"></stop>
        <stop offset="1" style="stop-color:#03111d;stop-opacity:1"></stop>
      </radialGradient>
      <radialGradient
        id="_Radial6"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(466,-466,466,466,603,601)"
      >
        <stop offset="0" style="stop-color:#0e2e47;stop-opacity:1"></stop>
        <stop offset="1" style="stop-color:#03111d;stop-opacity:1"></stop>
      </radialGradient>
      <radialGradient
        id="_Radial7"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(466,-466,466,466,603,601)"
      >
        <stop offset="0" style="stop-color:#0e2e47;stop-opacity:1"></stop>
        <stop offset="1" style="stop-color:#03111d;stop-opacity:1"></stop>
      </radialGradient>
      <radialGradient
        id="_Radial8"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(466,-466,466,466,603,601)"
      >
        <stop offset="0" style="stop-color:#0e2e47;stop-opacity:1"></stop>
        <stop offset="1" style="stop-color:#03111d;stop-opacity:1"></stop>
      </radialGradient>
      <radialGradient
        id="_Radial9"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(466,-466,466,466,603,601)"
      >
        <stop offset="0" style="stop-color:#0e2e47;stop-opacity:1"></stop>
        <stop offset="1" style="stop-color:#03111d;stop-opacity:1"></stop>
      </radialGradient>
      <radialGradient
        id="_Radial10"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(466,-466,466,466,603,601)"
      >
        <stop offset="0" style="stop-color:#0e2e47;stop-opacity:1"></stop>
        <stop offset="1" style="stop-color:#03111d;stop-opacity:1"></stop>
      </radialGradient>
      <radialGradient
        id="_Radial11"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(466,-466,466,466,603,601)"
      >
        <stop offset="0" style="stop-color:#0e2e47;stop-opacity:1"></stop>
        <stop offset="1" style="stop-color:#03111d;stop-opacity:1"></stop>
      </radialGradient>
      <radialGradient
        id="_Radial12"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(466,-466,466,466,603,601)"
      >
        <stop offset="0" style="stop-color:#0e2e47;stop-opacity:1"></stop>
        <stop offset="1" style="stop-color:#03111d;stop-opacity:1"></stop>
      </radialGradient>
    </defs>
  </svg>
  <div
    class="wrapper text-center justify-center items-center relative z-10 overflow-clip"
  >
    <div class="box flow prose spot-color-transparent">
      <h2 class="mx-auto" style="color: var(--blue200);">
        Make yourself more efficient and effective at acquiring leads with your
        new content machine.
      </h2>
      <p class="mx-auto">
        Good signage brings awareness, and visibility, to a brand. The content
        machine framework does this for your target audience, at the right
        touchpoints in their buying journey, to get more leads.
      </p>
    </div>
    <Picture
      src={notionCheatsheet}
      widths={[700, 1000, 2000]}
      width={2602}
      height={2824}
      alt="Notion screenshots of the Content machine for Sign Companies"
      quality={80}
      format="avif"
      class="h-auto mx-auto fade-in"
      style="max-width: 80%;"
    />
  </div>
</div>
