---

---

<div
  class="region spot-color-blue-dark relative z-0 overflow-clip"
  style="color: var(--blue100);"
  id="estimate"
>
  <div id="orb-dark-blue-purple"></div>
  <div
    x-data="valueSlider"
    x-init="$watch('sliderValue', () => calculateRevenue())"
    class="wrapper flow prose relative z-10"
    data-layout="md"
  >
    <h2 class="mx-auto text-center">Impressions to cash</h2>
    <p class="mx-auto text-center">
      Calculate your estimated revenue based on the impressions.†
    </p>

    <div class="switcher">
      <div class="box text-center flow spot-color-purple">
        <h3 class="mx-auto">Impressions</h3>
        <input
          class="w-full"
          type="range"
          x-model="sliderValue"
          min="500"
          max="250000"
          step="100"
        />
        <p class="mx-auto">
          <small>
            <span x-text="prettyImpressions"></span> impression equates to <span
              x-text="leads"></span> leads, and <span x-text="leadsClosed"
            ></span> leads closed.
          </small>
        </p>
      </div>
      <div class="box text-center flow spot-color-purple">
        <div class="flow prose">
          <h3 class="mx-auto mb-m-l">Estimated revenue</h3>
          <h4 class="step-4"><span x-text="monthlyRevenue"></span></h4>
        </div>
      </div>
    </div>
    <p class="mx-auto text-center step--2">
      † Assuming a 2% conversion rate on impressions, a 10% close rate on leads,
      and the average custom sign contract is worth $70,000.
    </p>
  </div>
</div>

<script>
  import Alpine from 'alpinejs';

  const formatter = new Intl.NumberFormat('en-US', {
    style: 'currency',
    currency: 'USD',
    maximumFractionDigits: 0,
  });

  window.Alpine = Alpine;

  Alpine.data('valueSlider', () => ({
    init() {
      this.calculateRevenue();
    },
    sliderValue: '15000',
    prettyImpressions: '0',
    leads: 0,
    leadsClosed: 0,
    averageValue: 70000,
    monthlyRevenue: '$0',
    calculateRevenue() {
      this.leads = Math.round(
        (((Number(this.sliderValue) / 100) * 2) / 100) * 7,
      );
      this.leadsClosed = Math.round((this.leads / 100) * 10);
      this.monthlyRevenue = formatter.format(
        Math.round(this.leadsClosed * this.averageValue),
      );
      this.prettyImpressions = Number(this.sliderValue).toLocaleString('en-US');
    },
  }));

  Alpine.start();
</script>
