---
import Accordion from './Accordion.astro';
import AccordionItem from './AccordionItem.astro';
---

<div class="spot-color-blue region relative z-10" id="faq">
  <div class="wrapper flow content" data-layer="md">
    <div class="box text-center">
      <h2 class="mx-auto">Frequently asked questions</h2>
    </div>
    <div class="center" style="--measure: 70ch;">
      <Accordion>
        <AccordionItem header="Who is this for?">
          <p>
            Sign companies who are looking to reduce their ad spend will find a
            safe haven with our content ideas. The more domain authority you
            receive from the world at large increases your local rankings as
            well.
          </p>

          <p>
            It takes time to produce quality content. This typically requires a
            team to go from ideation to implantation. 80% of the time spent on
            content creation is asking what to write about. We've solved that by
            deeply analyzing what users are searching for with regards to sign
            companies. It will cost you less time and money to create more
            meaningful and engaging content.
          </p>
          <p>
            Take back control of your content. Yes, social media plays a large
            part in a one-to-many approach to building a positive reputation
            online, but you do not own those platforms. You own your website,
            and your content. Make that content great, and spread it to your
            various social media properties.
          </p>
        </AccordionItem>
        <AccordionItem header="How does this work?">
          <p>
            When you sign up, we'll get a notification and let you know what to
            expect next. We create a unique Notion page specifically for your
            business, and share it to you with full access.
          </p>
          <p>
            Typically within 24 hours we'll have fresh content ideas ready for
            you, and your team. Be sure to take some time to think about how you
            want to write this, in your brand's persona, using your voice and
            tone.
          </p>
          <p>
            Feel free to use Notion to draft this long form content. We also
            offer some templates for creating short form content within each
            idea, to help create unlimited content from that idea.
          </p>
        </AccordionItem>
        <AccordionItem header="How do you deliver the content ideas?">
          <p>
            We have found Notion to be the most efficient way to collaborate
            with our clients. We'll share guest access to a page exclusively for
            you. You will have full access to the page. We'll deliver each
            months content ideas into new rows of the content machine. Each row
            has a page that includes the content idea's recommended title, the
            keyphrases that should be included in the long form content,
            examples of web pages that are ranking highly for similar
            keyphrases, and key findings from the analysis. This is also where
            you can draft your posts, build, and track your short form content.
            What to know more about the content machine? Read the next FAQ item.
          </p>
        </AccordionItem>
        <AccordionItem header="What is a content machine?">
          <p>
            We've created a Notion database that allows you to manage long and
            short form content. Every month we deliver your unique content ideas
            into new rows of the content machine. Whether you are working on a
            long form piece of content for a blog post, or a landing page, that
            content could have endless amounts of shorter form content derived
            from it.
          </p>
          <p>
            We talked about what is included in each row in the “How do you
            deliver the content ideas?” FAQ above, but theres more. Included
            with the relevant information for that content idea, we include
            templates and methods to take that long form content and create
            short form content for your social media properties.
          </p>
        </AccordionItem>
        <AccordionItem
          header="Are you selling the same ideas to my competitors?"
        >
          <p>
            Yes, and no. Let us explain. We have gone this deep for few market
            niches. Of those market niches, we only work with 5 clients. We have
            hundreds of multifaceted content ideas for each of these market
            niches. We keep track of who we're sending what ideas to, and
            guarantee you will receive unique ideas every month.
          </p>
        </AccordionItem>
        <AccordionItem header="How are you doing this?">
          <p>
            We can't get into the trade secrets but we'll give you the basics.
            We use multiple sources of past and future data, competitor
            research, and proprietary methods of refining a massive list of
            keyphrases into one or more high value keyphrases that can drive 500
            to 100,000's of potential users to your site monthly.
          </p>
        </AccordionItem>
        <AccordionItem header="Why not write the content yourselves?">
          <p>
            We think most companies already have teams or agencies who are doing
            content writing, SEO, social media, etc. Our Straightforward Package
            is designed to give you a cheatsheet on where to focus that creative
            energy to connect with your audience. We're thinking about doing
            content creation. If that's something you'd be interested in, we'd
            like to know more. Reach out to us and we'll schedule time to chat.
          </p>
        </AccordionItem>
        <AccordionItem
          header="What if I do not sell the idea you shared this month?"
        >
          <p>
            That's okay! We are looking to make you an authority in your
            industry. Your service is unique, and that means you probably don't
            do everything within that industry. However, that doesn't stop
            people from searching to learn more about a particular topic that is
            related to your industry.
          </p>
          <p>
            Becoming a domain authority, and thus getting your site's rankings
            higher naturally on search engines, requires a lot of traffic. When
            writing a landing page, blog post or newsletter about a particular
            topic in your industry that is not in your product or services
            catalog, you are still gaining positive sentiment with potential
            clients who may buy other products or services, increasing your
            websites value in the eyes of search engines by engaging with that
            user, and creating brand recall.
          </p>
        </AccordionItem>
        <AccordionItem header="How will this reduce my ad spend?">
          <p>
            The more traffic you gain coming to your site, the more of a domain
            authority you become. A domain authority meaning anyone searching
            for a topic in your industry, search engines will show your site's
            content higher organically. This takes time, energy, and effort, but
            the scales will tip and there will be a point in time where you are
            receiving enough traffic that you could consider reducing your ad
            spend.
          </p>
        </AccordionItem>
        <AccordionItem header="Who is this not for?">
          <p>
            If you are a sign company without a website, or without a blog, this
            isn't the right service for you. We understand social media is a
            tempting place to effectively reach a wide audience, but we believe
            you should own your own content.
          </p>
          <p>
            If the core concept of this service is in you owning your long form
            content, and creating unlimited short form content from that and it
            connects with your audience on a deeper level, than you are the
            right sign company for our service.
          </p>
        </AccordionItem>
        <AccordionItem header="How can I cancel?">
          <p>
            You can cancel anytime. Simply <a
              href="https://billing.stripe.com/p/login/8wMdTjdxB8mX716288"
              >login to your client portal</a
            > where you can cancel your membership. You will no longer have
            access to your client Notion page.
          </p>
        </AccordionItem>
        <AccordionItem header="Can I get a refund?">
          <p>
            Due to the unique nature of this service, no. You cannot unsee what
            we're giving you. It's sometimes literally the work of 500+ hours of
            research. These are objectively high value ideas that we're
            continuously researching.
          </p>
          <p>
            If you are unhappy for any reason, first, reach out to us. We want
            to hear what's not working for you. We do this for you, and want to
            be your growth partner. If we can't find a way to make things work,
            you can cancel any time.
          </p>
        </AccordionItem>
        <AccordionItem header="What if I am not convinced yet?">
          <p>
            We're looking to become your market niches growth partner. If
            meeting us would be more advantageous, we offer an initial call to
            see if we're a good fit.
          </p>
        </AccordionItem>
      </Accordion>
    </div>
  </div>
</div>
