---
const date = new Date().getFullYear();
---

<footer
  class="region"
  style="background-color: var(--blue900); color: var(--blue200);"
>
  <div class="wrapper">
    <ul role="list" class="cluster step-2 justify-center">
      <li class="box" style="color: var(--blue200);">
        <p>Straightforward Growth© {date}</p>
      </li>
    </ul>
  </div>
</footer>
