---
import Header from './Header.astro';
import meditate from '../assets/meditation-class.jpg';
import { Picture } from 'astro:assets';
---

<div class="relative z-0 text-blue-vivid-300 overflow-x-clip">
  <svg
    viewBox="0 0 753 1049"
    id="hero-svg"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    fill="#062740"
    class="absolute h-auto z-10"
    role="img"
  >
    <title>Straightforward Growth logo</title>
    <g clip-path="url(#_clip1)">
      <g id="straightforward-growth-logo-mark">
        <path
          d="M545.276,207.18l-0,-207.18l-545.276,287.401l-0,394.989l171.818,82.823l0.074,-368.626l373.384,-189.407Z"
          style="fill:url(#_Linear2);fill-rule:nonzero;"></path>
        <path
          d="M557.498,352.675l-226.642,123.334l-0.704,194.594l251.809,-129.32l0.538,177.23l-244.947,148.487l-0,182.027l415.448,-222.741l-0,-371.23l-195.502,-102.381Z"
          style="fill:url(#_Linear3);fill-rule:nonzero;"></path>
      </g>
    </g>
    <defs>
      <linearGradient
        id="_Linear2"
        x1="0"
        y1="0"
        x2="1"
        y2="0"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(753,-1049,1049,753,-4.54747e-12,1049)"
      >
        <stop offset="0" stop-color="var(--stop-color-5)" stop-opacity="1"
        ></stop>
        <stop offset="0.21" stop-color="var(--stop-color-4)" stop-opacity="1"
        ></stop>
        <stop offset="0.52" stop-color="var(--stop-color-3)" stop-opacity="0.75"
        ></stop>
        <stop offset="0.75" stop-color="var(--stop-color-2)" stop-opacity="0.5"
        ></stop>
        <stop offset="1" stop-color="var(--color-stop-1)" stop-opacity="0.25"
        ></stop>
      </linearGradient>
      <linearGradient
        id="_Linear3"
        x1="0"
        y1="0"
        x2="1"
        y2="0"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(753,-1049,1049,753,-4.54747e-12,1049)"
      >
        <stop offset="0" stop-color="var(--stop-color-5)" stop-opacity="1"
        ></stop>
        <stop offset="0.21" stop-color="var(--stop-color-4)" stop-opacity="1"
        ></stop>
        <stop offset="0.52" stop-color="var(--stop-color-3)" stop-opacity="0.75"
        ></stop>
        <stop offset="0.75" stop-color="var(--stop-color-2)" stop-opacity="0.5"
        ></stop>
        <stop offset="1" stop-color="var(--color-stop-1)" stop-opacity="0.25"
        ></stop>
      </linearGradient>
    </defs>
  </svg>
  <div
    class="cover relative z-10"
    id="hero"
    style="--cover-padding: var(--space-s-m);"
  >
    <Header />
    <div class="switcher items-center" style="--gap: var(--space-m);">
      <div class="prose flow text-center md:text-left">
        <h1
          id="hero-title"
          class="text-blue-vivid-200 leading-flat text-step-4 lg:text-step-5"
        >
          Effective content marketing for your health and wellness business
        </h1>
        <h2 id="hero-subtitle" class="text-step-00 text-[#dee14c]">
          Straightforward Growth specializes in generating more inbound leads
          for your health and wellness business.
        </h2>
        <p class="text-blue-vivid-300">
          Whether you need deep SEO and topic research to arm your existing
          team, a volume of targeted content written for you, or both, our
          unique approach to content marketing is like personal training for
          your brand.
        </p>
      </div>
      <div>
        <Picture
          src={meditate}
          widths={[240, 540, 720, meditate.width]}
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${meditate.width}px`}
          width={6865}
          height={4904}
          alt="Meditation class"
          quality={80}
          formats={['avif', 'webp']}
          class="h-auto w-auto mx-auto object-contain rounded-2xl row-start-3 row-span-6 col-start-5 col-span-8 border-blue-200 border-8 z-10"
          pictureAttributes={{
            class:
              'h-auto w-auto mx-auto object-contain rounded-2xl row-start-3 row-span-6 col-start-5 col-span-8 z-10',
          }}
        />
      </div>
    </div>
    <span class="text-center mx-auto"
      ><a
        href="#OurPackages"
        class="button w-fit rounded-full bg-[#869df9] text-indigo-vivid-900 hover:bg-[#b1c0fe] focus:outline-2 focus:outline-[#b1c0fe] focus:outline-offset-4"
        >See packages</a
      ></span
    >
  </div>
</div>
