---
import Header from './Header.astro';
import kettle from '../assets/kettlebell-workout-group-training.jpg';
import meditate from '../assets/meditation-class.jpg';
import { Picture } from 'astro:assets';
---

<div
  class="relative z-0 overflow-hidden bg-blue-vivid-1000 text-blue-vivid-300"
>
  <svg
    viewBox="0 0 753 1049"
    id="hero-svg"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    fill="#062740"
    class="absolute h-auto z-10"
    role="img"
  >
    <title>Straightforward Growth logo</title>
    <g clip-path="url(#_clip1)">
      <g id="straightforward-growth-logo-mark">
        <path
          d="M545.276,207.18l-0,-207.18l-545.276,287.401l-0,394.989l171.818,82.823l0.074,-368.626l373.384,-189.407Z"
          style="fill:url(#_Linear2);fill-rule:nonzero;"></path>
        <path
          d="M557.498,352.675l-226.642,123.334l-0.704,194.594l251.809,-129.32l0.538,177.23l-244.947,148.487l-0,182.027l415.448,-222.741l-0,-371.23l-195.502,-102.381Z"
          style="fill:url(#_Linear3);fill-rule:nonzero;"></path>
      </g>
    </g>
    <defs>
      <linearGradient
        id="_Linear2"
        x1="0"
        y1="0"
        x2="1"
        y2="0"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(753,-1049,1049,753,-4.54747e-12,1049)"
      >
        <stop offset="0" stop-color="var(--stop-color-5)" stop-opacity="1"
        ></stop>
        <stop offset="0.21" stop-color="var(--stop-color-4)" stop-opacity="1"
        ></stop>
        <stop offset="0.52" stop-color="var(--stop-color-3)" stop-opacity="0.75"
        ></stop>
        <stop offset="0.75" stop-color="var(--stop-color-2)" stop-opacity="0.5"
        ></stop>
        <stop offset="1" stop-color="var(--color-stop-1)" stop-opacity="0.25"
        ></stop>
      </linearGradient>
      <linearGradient
        id="_Linear3"
        x1="0"
        y1="0"
        x2="1"
        y2="0"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(753,-1049,1049,753,-4.54747e-12,1049)"
      >
        <stop offset="0" stop-color="var(--stop-color-5)" stop-opacity="1"
        ></stop>
        <stop offset="0.21" stop-color="var(--stop-color-4)" stop-opacity="1"
        ></stop>
        <stop offset="0.52" stop-color="var(--stop-color-3)" stop-opacity="0.75"
        ></stop>
        <stop offset="0.75" stop-color="var(--stop-color-2)" stop-opacity="0.5"
        ></stop>
        <stop offset="1" stop-color="var(--color-stop-1)" stop-opacity="0.25"
        ></stop>
      </linearGradient>
    </defs>
  </svg>
  <div class="cover relative z-10" id="hero">
    <Header />
    <div class="switcher items-center" style="--gap: var(--space-m);">
      <div class="flex flex-col-reverse gap-s">
        <h1 id="hero-title" class="text-blue-vivid-300">
          Content marketing for your health &amp; wellness business.
        </h1>
        <h2
          id="hero-subtitle"
          class="text-step-00 uppercase text-gold-vivid-200"
        >
          Objective, data and performance driven marketing consulting.
        </h2>
      </div>
      <div class="flex flex-col gap-m md:grid" data-layout="twelfths">
        <Picture
          src={kettle}
          widths={[240, 540, 720, kettle.width]}
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${kettle.width}px`}
          width={6865}
          height={4904}
          alt="Full kettlebell class"
          quality={80}
          formats={['avif', 'webp']}
          class="h-auto w-auto mx-auto object-contain rounded-2xl row-start-1 row-span-6 col-start-1 col-span-6"
          pictureAttributes={{
            class:
              'h-auto w-auto mx-auto object-contain rounded-2xl row-start-1 row-span-6 col-start-1 col-span-6',
          }}
        />
        <Picture
          src={meditate}
          widths={[240, 540, 720, meditate.width]}
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${meditate.width}px`}
          width={6865}
          height={4904}
          alt="Meditation class"
          quality={80}
          formats={['avif', 'webp']}
          class="hidden md:block h-auto w-auto mx-auto object-contain rounded-2xl row-start-5 row-span-6 col-start-6 col-span-6"
          pictureAttributes={{
            class:
              'hidden md:block h-auto w-auto mx-auto object-contain rounded-2xl row-start-5 row-span-6 col-start-5 col-span-8',
          }}
        />
      </div>
    </div>
  </div>
</div>
