---
import InnerHeader from './InnerHeader.astro';
interface Props {
  header: {
    title: string;
    subtitle: string;
  };
}

const { header } = Astro.props;
---

<div class="relative z-0">
  <svg
    viewBox="0 0 753 1049"
    id="hero-svg"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    fill="#062740"
    class="absolute h-auto z-10"
    role="img"
  >
    <title>Straightforward Growth logo</title>
    <g clip-path="url(#_clip1)">
      <g id="straightforward-growth-logo-mark">
        <path
          d="M545.276,207.18l-0,-207.18l-545.276,287.401l-0,394.989l171.818,82.823l0.074,-368.626l373.384,-189.407Z"
          style="fill:url(#_Linear2);fill-rule:nonzero;"></path>
        <path
          d="M557.498,352.675l-226.642,123.334l-0.704,194.594l251.809,-129.32l0.538,177.23l-244.947,148.487l-0,182.027l415.448,-222.741l-0,-371.23l-195.502,-102.381Z"
          style="fill:url(#_Linear3);fill-rule:nonzero;"></path>
      </g>
    </g>
    <defs>
      <linearGradient
        id="_Linear2"
        x1="0"
        y1="0"
        x2="1"
        y2="0"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(753,-1049,1049,753,-4.54747e-12,1049)"
      >
        <stop offset="0" stop-color="var(--stop-color-5)" stop-opacity="1"
        ></stop>
        <stop offset="0.21" stop-color="var(--stop-color-4)" stop-opacity="1"
        ></stop>
        <stop offset="0.52" stop-color="var(--stop-color-3)" stop-opacity="0.75"
        ></stop>
        <stop offset="0.75" stop-color="var(--stop-color-2)" stop-opacity="0.5"
        ></stop>
        <stop offset="1" stop-color="var(--color-stop-1)" stop-opacity="0.25"
        ></stop>
      </linearGradient>
      <linearGradient
        id="_Linear3"
        x1="0"
        y1="0"
        x2="1"
        y2="0"
        gradientUnits="userSpaceOnUse"
        gradientTransform="matrix(753,-1049,1049,753,-4.54747e-12,1049)"
      >
        <stop offset="0" stop-color="var(--stop-color-5)" stop-opacity="1"
        ></stop>
        <stop offset="0.21" stop-color="var(--stop-color-4)" stop-opacity="1"
        ></stop>
        <stop offset="0.52" stop-color="var(--stop-color-3)" stop-opacity="0.75"
        ></stop>
        <stop offset="0.75" stop-color="var(--stop-color-2)" stop-opacity="0.5"
        ></stop>
        <stop offset="1" stop-color="var(--color-stop-1)" stop-opacity="0.25"
        ></stop>
      </linearGradient>
    </defs>
  </svg>
  <div
    class="cover relative z-10"
    id="hero"
    style="--cover-padding: 0; --min-block-size: 75svh;"
  >
    <InnerHeader />
    <div
      class="region box flex flex-col justify-center flow prose region-space-xl-2xl"
    >
      <h1 id="hero-title" class="text-step-4 lg:text-step-5">
        {header.title}
      </h1>
      <h2 id="hero-subtitle">
        {header.subtitle}
      </h2>
    </div>
  </div>
</div>
