---

---

<div class="spot-color-blue-dark" style="background-color: var(--spot-color);">
  <div class="wrapper">
    <div class="box text-center">
      <span
        class="step-3 font-display uppercase"
        style="font-weight: 200; color: var(--yellow200);"
        >4/5 spots available!</span
      >
    </div>
  </div>
</div>
