@media (prefers-reduced-motion: no-preference) {
  .fade-in {
    opacity: 0.15;
    scale: 0.8;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: entry 20%;
    animation-range-end: entry 30%;
  }
}

@keyframes fade-in {
  from {
    scale: 0.8;
    opacity: 0.15;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
