#spots-available {
  background-color: var(--yellow300);
  bottom: -3rem;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-8deg);
  padding: 0.5rem 1rem;
  width: 80vw;
}

@media (min-width: 50em) {
  #spots-available {
    width: auto;
  }
}

#orb-test {
  width: 100vw;
  min-width: 1500px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-repeat: no-repeat;
  background-image: radial-gradient(
      circle 800px at 700px 200px,
      var(--purple400),
      transparent
    ),
    radial-gradient(
      circle 600px at calc(100% - 300px) 300px,
      var(--yellow200),
      transparent
    ),
    radial-gradient(circle 750px at right center, var(--blue400), transparent),
    radial-gradient(circle 750px at right bottom, var(--blue200), transparent),
    radial-gradient(
      circle 750px at calc(50% - 600px) calc(100% - 100px),
      var(--pink300),
      var(--pink300),
      transparent
    );
}

/* Media queries
@media (min-width: 50em) {
}

@media (min-width: 80em) {
}

@media (min-width: 90em) {
}

@media (min-width: 120em) {
}
*/
