#spots-available {
  background-color: var(--yellow300);
  bottom: -3rem;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-8deg);
  padding: 0.5rem 1rem;
  width: 80vw;
}

@media (min-width: 50em) {
  #spots-available {
    width: auto;
  }
}

#orb-test {
  width: 100vw;
  min-width: 1500px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 0px;
  bottom: 0px;
  opacity: 0.25;
  background-repeat: no-repeat;
  background-image: radial-gradient(
      circle 800px at 700px 200px,
      var(--purple400),
      transparent
    ),
    radial-gradient(
      circle 600px at calc(100% - 300px) 300px,
      var(--yellow200),
      transparent
    ),
    radial-gradient(circle 750px at right center, var(--blue400), transparent),
    radial-gradient(circle 750px at right bottom, var(--blue200), transparent),
    radial-gradient(
      circle 750px at calc(50% - 600px) calc(100% - 100px),
      var(--pink300),
      var(--pink300),
      transparent
    );
}

#orb-dark-blue {
  width: 100vw;
  min-width: 1500px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-repeat: no-repeat;
  background-image: radial-gradient(
      circle 800px at 700px 200px,
      var(--blue1100),
      transparent
    ),
    radial-gradient(
      circle 600px at calc(100% - 300px) 300px,
      var(--blue1100),
      transparent
    ),
    radial-gradient(circle 750px at right center, var(--blue900), transparent),
    radial-gradient(circle 750px at right bottom, var(--blue1100), transparent),
    radial-gradient(
      circle 750px at calc(50% - 600px) calc(100% - 100px),
      var(--blue1100),
      var(--blue1100),
      transparent
    );
}
#orb-dark-blue-purple {
  width: 100vw;
  min-width: 1500px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-repeat: no-repeat;
  background-image: radial-gradient(
      circle 800px at 700px 200px,
      var(--blue1100),
      transparent
    ),
    radial-gradient(circle 750px at right bottom, var(--blue1100), transparent),
    radial-gradient(
      circle 750px at calc(50% - 600px) calc(100% - 100px),
      var(--purple1100),
      var(--purple1100),
      transparent
    );
}

#hero-svg {
  width: 150vw;
  inset: -2rem -2rem auto auto;
  opacity: 0.25;
  --color-stop-1: var(--blue1100);
  --color-stop-2: var(--blue900);
  --color-stop-3: var(--blue700);
  --color-stop-4: var(--blue500);
  --color-stop-5: var(--blue300);
}

@media (min-width: 50em) {
  #hero-svg {
    width: 75vw;
    inset: 11rem -20rem auto auto;
  }
}

/* Media queries
@media (min-width: 50em) {
}

@media (min-width: 80em) {
}

@media (min-width: 90em) {
}

@media (min-width: 120em) {
}
*/
