/* Buttons */

.button {
  display: block;
  text-decoration: none;
  border: none;
  background-color: var(--color-gray-1400);
  color: var(--color-gray-100);
  padding-inline: var(--space-m);
  padding-block: var(--space-s);
  text-align: center;
  touch-action: manipulation;
  user-select: none;
}
.button:focus-visible {
  outline: 2px solid var(--color-gold-vivid-900);
  outline-offset: 2px;
}
.button:hover,
.button:focus,
.button:active {
  text-decoration: none;
  color: white;
  color: var(--color-gold-vivid-100);
  background-color: var(--color-gold-vivid-900);
}
.button:focus {
  outline: 2px solid var(--color-gray-1400);
}

.button-disabled {
  opacity: 0.5;
  pointer-events: none;
}
