/* Buttons */

.button {
  display: block;
  text-decoration: none;
  border: none;
  border-radius: var(--space-2xs);
  background-color: var(--color-gold-vivid-200);
  color: var(--color-gold-1000);
  padding-inline: var(--space-m);
  padding-block: var(--space-s);
  text-align: center;
  touch-action: manipulation;
  user-select: none;
}
.button:focus-visible {
  outline: 2px solid var(--color-gold-vivid-900);
  outline-offset: 4px;
}
.button:hover,
.button:focus,
.button:active {
  text-decoration: none;
  color: white;
  color: var(--color-gold-vivid-900);
  background-color: var(--color-gold-vivid-400);
}
.button:focus {
  outline: 2px solid var(--color-gold-500);
  outline-offset: 4px;
}

.button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button.invert {
  background-color: var(--color-gray-1400);
  color: var(--color-gray-400);
}

.button.invert:hover,
.button.invert:focus,
.button.invert:active {
  color: var(--color-gold-vivid-100);
  background-color: var(--color-gold-vivid-900);
}

.button.invert:focus {
  outline: 2px solid var(--color-gold-vivid-900);
}
