.packages-tab {
  text-decoration: none;
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
  border-radius: 100vw;
  font-size: var(--size-step-000);
}

.packages-tab[aria-selected='true'] {
  background-color: #bfff00;
  color: var(--color-gold-1000);
}
.packages-tab[aria-selected='true']:focus {
  outline: 2px solid #bfff00;
  outline-offset: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  #hydrate-tab:not(hidden) p,
  #hydrate-tab:not(hidden) h3,
  #ascend-tab:not(hidden) p,
  #ascend-tab:not(hidden) h3 {
    -webkit-animation: fade-in-bottom var(--transition-movement) both;
    animation: fade-in-bottom var(--transition-movement) both;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .fade-in-bottom {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
}
