.price-card-container {
  display: grid;
  grid-gap: 1rem;
}

@supports (width: min(250px, 100%)) {
  .price-card-container {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}

.price-card {
  max-inline-size: var(--max-width, 400px);
  overflow: hidden;
  margin-inline: auto;
  position: relative;
}
.price-card > a {
  text-decoration: none;
}
.price-card > a:hover h3 {
  text-decoration: underline;
}
.price-card img,
.price-card picture,
.price-card source {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16 / 9;
  border-radius: var(--border-radius);
}

.price-card-item svg {
  height: 0.75lh;
  position: absolute;
  margin-inline-start: calc(var(--space-m) * -0.95);
  top: 50%;
  transform: translateY(-50%);
}

.price-card-item li {
  position: relative;
  padding-inline-start: var(--space-m);
  font-size: var(--size-step-000);
}

.price-card .button {
  font-weight: var(--font-semibold);
  background-color: var(--color-indigo-vivid-1000);
  color: var(--color-indigo-vivid-200);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.price-card .button:hover,
.price-card .button:active,
.price-card .button:focus {
  background-color: var(--color-indigo-vivid-900);
}
.price-card .button:focus {
  outline-color: var(--color-indigo-vivid-900);
}
