.price-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, var(--space-s));
}

.price-card-container > * {
  flex-grow: 1;
  flex-basis: calc((30rem - 100%) * 999);
}

.price-card-container > :nth-last-child(n + 3),
.price-card-container > :nth-last-child(n + 3) ~ * {
  flex-basis: 100%;
}

.price-card {
  max-inline-size: var(--max-width, 400px);
  overflow: hidden;
  margin-inline: auto;
  position: relative;
}
.price-card > a {
  text-decoration: none;
}
.price-card > a:hover h3 {
  text-decoration: underline;
}
.price-card img,
.price-card picture,
.price-card source {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16 / 9;
  border-radius: var(--border-radius);
}
.price-card-item svg {
  height: 0.75lh;
  position: absolute;
  margin-inline-start: calc(var(--space-m) * -0.95);
  top: 50%;
  transform: translateY(-50%);
}

.price-card-item li {
  position: relative;
  padding-inline-start: var(--space-m);
  font-size: var(--step--1);
}

.price-card .button {
  font-weight: var(--font-semibold-weight);
  background-color: var(--yellow300);
  color: var(--yellow1100);
}
.price-card .button:hover {
  background-color: var(--yellow400);
}
.price-card .button:focus {
  outline-color: var(--yellow300);
}
