.price-card {
  max-inline-size: var(--max-width, 400px);
  overflow: hidden;
  margin-inline: auto;
  position: relative;
}
.price-card > a {
  text-decoration: none;
}
.price-card > a:hover h3 {
  text-decoration: underline;
}
.price-card img,
.price-card picture,
.price-card source {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16 / 9;
  border-radius: var(--border-radius);
}
.price-card-content {
  padding: var(--space-m-l);
}
.price-card-item {
  list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512" style="fill: currentColor"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>');
  padding-inline-start: var(--space-s);
}

.price-card-item li {
  padding-inline-start: var(--space-2xs);
}
