@supports (animation-timeline: view()) {
  @media (prefers-reduced-motion: no-preference) {
    .fade-in {
      opacity: 0.15;
      scale: 0.8;
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range-start: entry 20%;
      animation-range-end: entry 30%;
    }
  }
}

@keyframes fade-in {
  from {
    scale: 0.8;
    opacity: 0.15;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
