/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-blue-vivid-300);
  background: #0c1c27;
  font-size: var(--size-step-00);
  font-family: var(--font-base);
  position: relative;
  font-optical-sizing: auto;
}

/* Base typesetting */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-blue-100);
  font-family: var(--font-display);
  font-weight: var(--font-semibold);
}

h1,
h2 {
  font-size: var(--size-step-3);
}

h3 {
  font-size: var(--size-step-1);
}

/* Set line lengths */
p,
li,
blockquote:not([class]) {
  max-inline-size: 50ch;
}

h1,
h2,
h3 {
  max-inline-size: 30ch;
}

/* More generic elements */
blockquote:not([class]) {
  font-size: var(--size-step-1);
  margin-inline-start: var(--space-m);
}

/* Markdown blockquuote:not([class])s aren't ideal, so we're presuming the person quoted is the last p */
blockquote:not([class]) p:last-of-type {
  font-family: var(--font-base);
  font-size: var(--size-step-1);
  font-weight: normal;
}

svg {
  height: 1lh;
  width: auto;
  flex: none;
}

[role='list'] {
  padding: 0;
}

/* Base interactive elements */

a {
  color: currentcolor;
}

a:hover {
  text-decoration: none;
}

/* Baseline for default links */
a:not([class]) {
  /* Relatively sized thickness and offset */
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}

/* Scroll padding allowance below focused elements 
    to ensure they are clearly in view */
:focus {
  scroll-padding-block-end: 8vh;
}

:focus-visible {
  --outline-size: max(2px, 0.15em);

  outline: var(--outline-width, var(--outline-size)) var(--outline-style, solid)
    var(--outline-color, currentColor);
  outline-offset: var(--outline-offset, var(--outline-size));
}

/* Scroll padding allowance above anchor links */
:target {
  scroll-padding-block-start: 2rem;
}

main:focus {
  outline: none;
}

/* Base selection styles that invert whatever colours are rendered */
::selection {
  background: var(--color-gray-1400);
  color: var(--color-gray-100);
}

/* Remove default list styles for details */
summary::-webkit-details-marker {
  display: none;
}

form > p {
  display: flex;
  flex-flow: column nowrap;
}

form > p label {
  margin-block-end: 0.5rem;
  margin-inline-end: 0.5rem;
}

input,
textarea {
  background-color: var(--color-blue-vivid-700);
  color: var(--color-blue-vivid-300);
  border: none;
  padding-block: var(--space-2xs);
  padding-inline: var(--space-xs);
  border-radius: var(--space-2xs);
}

input:focus,
textarea:focus {
  outline: 2px solid var(--color-blue-vivid-600);
  outline-offset: 2px;
}
