/* Global variables */
:root {
  /* https://leonardocolor.io/theme.html?name=Straightforward+Growth&config=%7B%22baseScale%22%3A%22blue%22%2C%22colorScales%22%3A%5B%7B%22name%22%3A%22blue%22%2C%22colorKeys%22%3A%5B%22%23062740%22%5D%2C%22colorspace%22%3A%22RGB%22%2C%22ratios%22%3A%5B%220.75%22%2C%221.1%22%2C%221.45%22%2C%222.05%22%2C%223.02%22%2C%224.54%22%2C%227%22%2C%2210.86%22%2C%2214.0%22%2C%2217.0%22%2C%2219.00%22%5D%2C%22smooth%22%3Afalse%7D%2C%7B%22name%22%3A%22purple%22%2C%22colorKeys%22%3A%5B%22%234b24db%22%5D%2C%22colorspace%22%3A%22RGB%22%2C%22ratios%22%3A%5B%220.75%22%2C%221.1%22%2C%221.45%22%2C%222.05%22%2C%223.02%22%2C%224.54%22%2C%227%22%2C%2210.86%22%2C%2214.0%22%2C%2217.0%22%2C%2219.00%22%5D%2C%22smooth%22%3Afalse%7D%2C%7B%22name%22%3A%22pink%22%2C%22colorKeys%22%3A%5B%22%23ea48dc%22%5D%2C%22colorspace%22%3A%22RGB%22%2C%22ratios%22%3A%5B%220.75%22%2C%221.1%22%2C%221.45%22%2C%222.05%22%2C%223.02%22%2C%224.54%22%2C%227%22%2C%2210.86%22%2C%2214.0%22%2C%2217.0%22%2C%2219.00%22%5D%2C%22smooth%22%3Afalse%7D%2C%7B%22name%22%3A%22yellow%22%2C%22colorKeys%22%3A%5B%22%23ffcc70%22%5D%2C%22colorspace%22%3A%22RGB%22%2C%22ratios%22%3A%5B%220.75%22%2C%221.1%22%2C%221.45%22%2C%222.05%22%2C%223.02%22%2C%224.54%22%2C%227%22%2C%2210.86%22%2C%2214.0%22%2C%2217.0%22%2C%2219.00%22%5D%2C%22smooth%22%3Afalse%7D%2C%7B%22name%22%3A%22green%22%2C%22colorKeys%22%3A%5B%22%2315f700%22%5D%2C%22colorspace%22%3A%22RGB%22%2C%22ratios%22%3A%5B%220.75%22%2C%221.1%22%2C%221.45%22%2C%222.05%22%2C%223.02%22%2C%224.54%22%2C%227%22%2C%2210.86%22%2C%2214.0%22%2C%2217.0%22%2C%2219.00%22%5D%2C%22smooth%22%3Afalse%7D%2C%7B%22name%22%3A%22orange%22%2C%22colorKeys%22%3A%5B%22%23ffa50a%22%5D%2C%22colorspace%22%3A%22RGB%22%2C%22ratios%22%3A%5B%220.75%22%2C%221.1%22%2C%221.45%22%2C%222.05%22%2C%223.02%22%2C%224.54%22%2C%227%22%2C%2210.86%22%2C%2214.0%22%2C%2217.0%22%2C%2219.00%22%5D%2C%22smooth%22%3Afalse%7D%5D%2C%22lightness%22%3A100%2C%22contrast%22%3A1%2C%22saturation%22%3A100%2C%22formula%22%3A%22wcag2%22%7D */
  /* --blue100: #fefefe;
  --blue200: #f2f4f5;
  --blue300: #d1d7dc;
  --blue400: #abb6bf;
  --blue500: #8796a3;
  --blue600: #647888;
  --blue700: #435c6f;
  --blue800: #223f56;
  --blue900: #0e2e47;
  --blue1000: #051e30;
  --blue1100: #03111d;
  --purple100: #fefeff;
  --purple200: #f4f1fd;
  --purple300: #d9d1f7;
  --purple400: #baabf1;
  --purple500: #9b85eb;
  --purple600: #7c5fe5;
  --purple700: #5935de;
  --purple800: #3a1cab;
  --purple900: #2b147d;
  --purple1000: #1c0e52;
  --purple1100: #110832;
  --pink100: #fffdff;
  --pink200: #fdf0fc;
  --pink300: #f8c6f4;
  --pink400: #f393ea;
  --pink500: #ec55df;
  --pink600: #c23cb6;
  --pink700: #932d8b;
  --pink800: #661f60;
  --pink900: #4a1745;
  --pink1000: #300f2e;
  --pink1100: #1c091b;
  --yellow100: #fffefc;
  --yellow200: #fff3dc;
  --yellow300: #ffce77;
  --yellow400: #d9ae5f;
  --yellow500: #b38f4f;
  --yellow600: #8e723e;
  --yellow700: #6b562f;
  --yellow800: #493b20;
  --yellow900: #352a17;
  --yellow1000: #221b0f;
  --yellow1100: #130f09;
  --green100: #fbfffb;
  --green200: #d7fed4;
  --green300: #21f70d;
  --green400: #12d200;
  --green500: #0fac00;
  --green600: #0c8900;
  --green700: #096800;
  --green800: #064700;
  --green900: #043400;
  --green1000: #032200;
  --green1100: #021400;
  --orange100: #fffefc;
  --orange200: #fff1da;
  --orange300: #ffcf7d;
  --orange400: #faa20a;
  --orange500: #cd8508;
  --orange600: #a36a06;
  --orange700: #7b5005;
  --orange800: #553703;
  --orange900: #3d2702;
  --orange1000: #271a02;
  --orange1100: #170f01;
  --gray100: hsl(0, 0%, 99%);
  --gray200: hsl(0, 0%, 97.3%);
  --gray300: hsl(0, 0%, 95.1%);
  --gray400: hsl(0, 0%, 93%);
  --gray500: hsl(0, 0%, 90.9%);
  --gray600: hsl(0, 0%, 88.7%);
  --gray700: hsl(0, 0%, 85.8%);
  --gray800: hsl(0, 0%, 78%);
  --gray900: hsl(0, 0%, 56.1%);
  --gray1000: hsl(0, 0%, 52.3%);
  --gray1100: hsl(0, 0%, 43.5%);
  --gray1200: hsl(0, 0%, 9%); */

  --gutter: var(--space-s-m);
  --transition-base: 250ms ease-in-out;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
}
