---
import Head from '../components/Head.astro';

const { meta } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head meta={meta} />
  <body>
    <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
    <main id="main">
      <slot />
    </main>
  </body>
</html>
