---
import Contact from '@components/Contact.astro';
import Footer from '@components/Footer.astro';
import Head from '@components/Head.astro';
import BlogHero from '@components/BlogHero.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  meta: {
    title: string;
    metaTitle: string;
    metaDescription: string;
    schemaDescription: string;
    canonicalURL: string;
    image?: string;
  };
  header: {
    title: string;
    subtitle?: string;
    heroImage?: any;
    alt?: string;
    bgClass?: string;
    headingStyles?: string;
  };
  post?: CollectionEntry<'blog'>;
}

const { meta, header, post } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head meta={meta} post={post} />
  <body id="blog">
    <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
    <main id="main">
      <!-- Heading & Hero -->
      <BlogHero header={header} />
      <slot />
      <!-- Contact form -->
      <Contact />
      <!-- Footer -->
      <Footer />
    </main>
  </body>
</html>
