---
import Contact from '../components/ContactCSC.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import InnerHero from '../components/InnerHero.astro';

const { meta } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head meta={meta} />
  <body>
    <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
    <main>
      <!-- Heading & Hero -->
      <InnerHero industry="custom sign company" />
      <slot />
      <Contact />
      <!-- Footer -->
      <Footer />
    </main>
  </body>
</html>
